<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminLoginPage</title>
    <link rel="stylesheet" href="../../../static/adminSystem/adminLogin.css" >
</head>



<body>
  <p class="p1">Stock App</p>
  <form class="form"><br>
    <p class="form-title">Admin/Data Manager Login</p>
    <p class="signup-link">
     </p>
      <form>
     <div class="input-container">

      <label >
        User Name
      </label>
       <input type="account">
       <span>
       </span>
   </div>
   <div class="input-container">
    <label style="position: absolute; top: 0px;">
      Password
    </label>
       <input type="password" style="position: relative; top: 20px;">
     </div>
     <label class="checkbox-container">
      <input type="radio" name="gender" value="male">
      <span class="checkmark"></span> Remember me?
    </label>
    <a href="adminMainPage.html">
      <button class="submit">Sign in</button>
    </a>
      </form>

   
</form>

</body>
</html>