<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../../static/adminSystem/adminLogin.css" >
</head>
<body>
    <p class="p1">Stock App</p>
    <form class="form"><br>
        <p class="form-title">Admin/Data Manager Sign Up</p>
        <p class="signup-link">
          Have an account already? 
           <a href="adminLoginPage.html">Login</a>
         </p>
         <div class="input-container">
          <label >
            User Name
          </label>
           <input type="account">
           <span>
           </span>
       </div>
       <div class="input-container">
        <label style="position: absolute; top: 0px;">
          Password
        </label>
           <input type="password" style="position: relative; top: 20px;">
         </div>
         <div class="input-container">
            <label style="position: absolute; top: 20px;">
              Comfirm Password
            </label>
               <input type="password" style="position: relative; top: 40px;">
             </div>
          <button type="submit" class="submit">
         Sign Up
       </button>
</body>
</html>