<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminLoginPage</title>
    <link rel="stylesheet" href="adminStyle.css" >
</head>



<body>
    <h href="#" class="titleText" style="font-size: 50px;">Admin Login</h>
    
    <div class="login-box">
 
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
          </div><center>
          <a href="adminPage.html">
                 SEND
             <span></span>
          </a></center>
        </form>
      </div>
</body>
</html>