<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/UserSystem/Document.css" >
</head>
<body class="body">
    <header>
        <nav>
            <ul>
                <li><a href="/" style="margin-left: 10%;">Stock APP</a></li>
                <li><a href="DocumentPage" style="margin-left:40%;">API Documentation</a></li>
                <li><a href="ViewerPage">API viewer</a></li>
                <li><a href="SearchPage">Prediction</a></li>
            </ul>
        </nav>
    </header>

    <div class="web-description">
        <p class="p-set-text">Our stockforecast4us provides a complete and rich set of stock forecasts, with the ability to tweak the
            parameters of the multinomial neural network to help users realise how different structures can affect the results.</p><br><br>
        <h1 class="h-set">Time series Stock Forecast API</h1>
        <h3 class="p-set-text">API Parameters</h3>

        <p class="p-set"><b>Required:</b>&nbsp;apikey</p>
        <p class="p-set-text">You need an API Key to use our service, you can get a free one by clicking the link below. In this case,
            <span style="color: rgba(250,74,74,0.88); background-color: #686767">apikey=demo</span></p><br>

        <p class="p-set"><b>Require:</b>&nbsp;symbol</p>
        <p class="p-set-text">You need to enter a correct and existing ticker symbol for the system to correctly predict the stock price,
            <span style="color: rgba(250,74,74,0.88); background-color: #686767">symbol=AAPL</span></p><br>

        <p class="p-set"><b>Optional:</b>&nbsp;apikey</p>
        <p class="p-set-text">Stock prediction is based on neural network model, we provide default linear regression for stock prediction,
            you can also fill in our supported models [lr,lstm,gru] for prediction,
            <span style="color: rgba(250,74,74,0.88); background-color: #686767">model=lr</span></p><br>

        <p class="p-set"><b>Optional:</b>&nbsp;timeframe</p>
        <p class="p-set-text">You need to enter the number of days they want to predict, we have provided a default value
            of 5 days with a top line of 100. Be aware that the longer the number of days, the less accurate the stock prediction will be
            <span style="color: rgba(250,74,74,0.88); background-color: #686767">timeframe=5</span></p><br>

        <p class="p-set"><b>Optional:</b>&nbsp;layers</p>
        <p class="p-set-text">Layers define the number of hidden layers in the neural network, appropriate values will allow the model to fit the best function
            and produce better results, but too small or too large a value will have an impact on the accuracy of the results,
            we provide the default value of 3 layers.
            <span style="color: rgba(250,74,74,0.88); background-color: #686767">layers=3</span></p><br>

        <p class="p-set"><b>Optional:</b>&nbsp;neurons</p>
        <p class="p-set-text">neurons determine the number of neurons contained in each hidden layer, more neurons can
            come to capture complex patterns and features in the data, we provide the default number of 16 neurons.
            <span style="color: rgba(250,74,74,0.88); background-color: #686767"> neurons=16</span></p><br>
    </div>


</body>
</html>