<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/UserSystem/Document.css" >
</head>
<body class="body">
    <header>
        <nav>
            <ul>
                <li><a href="/" style="margin-left: 10%;">Stock APP</a></li>
                <li><a href="DocumentPage" style="margin-left:40%;">API Documentation</a></li>
                <li><a href="ViewerPage">API viewer</a></li>
                <li><a href="SearchPage">Predition</a></li>
            </ul>
        </nav>
    </header>

    <div class="web-description">
        <h1 class="h-set">Introduction:</h1>
        <p class="p-set">Welcome to our stock prediction platform!
            To access our forecasting services, you'll need to utilize our API key authentication system.
            This key serves as your unique identifier, granting you access to our predictive algorithms and data. 
            With this secure authentication process, you can confidently make informed decisions based on our accurate forecasts.
            Get started now with your API key and unlock the future of stock market predictions.
        </p>
        <p class="p-set">API KEY 操作简介：<br>
            文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
            文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
            文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
            文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
        </p>
        <p class="p-set">Example:<br> https://stock-predict.com/api/?ticker=STRING&month=INT&key=STRING
            https://stock-predict.com /admin?password=STRING
        </p>
    </div>


</body>
</html>