<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../../static/UserSystem/MainPage.css" >
</head>

<body class="body">
    <header>
        <nav>
            <ul>
                <li><a href="" style="margin-left: 10%;">STOCK Forecast</a></li>
                <li><a href="/" style="margin-left:40%;">Dashboard</a></li>
                <li><a href="ViewerPage">Start Prediction</a></li>
                <li><a href="SearchPage">History</a></li>
            </ul>
        </nav>
    </header>

    <div class="web-description">
        <h1 class="h-set">Personal Info</h1>
        <img class="img" src="../../../static/resource/normal_u15.svg">
        <p class="h-set"><b>Basic Information</b></p>
        <div class="inputPosition"><span class="static-text">Username:</span><input class="input-set">&nbsp;&nbsp;
            <span class="static-text2">User type:</span><input class="input-set"></div><br>
        <div class="inputPosition"><span class="static-text">email:</span><input class="input-set">&nbsp;&nbsp;
            <span class="static-text2">password:</span><input class="input-set" type="password"></div>
        <h2 class="h-set">BIO</h2>
        <div class="inputPosition"><input class="input-set2"><span class="static-text">Personalisation Description:</span></div>

    </div>
</body>
</html>
