<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/UserSystem/officialWeb.css" >
</head>

<header>
    <nav>
        <ul>
            <li><img src="../../../static/resource/replace.png" style="position: relative; left: 20px;"></li>
            <li><a href="" style="position: relative; top: -20px;">StockFrocast</a></li>
            <li><a href="#planPosition" style="margin-left:40%; position: relative; top: -20px;">Plan</a></li>
            <li><a href="" style="position: relative; top: -20px;">Contact US</a></li>
            <li><a href="../../../templates/front-end%20page/adminSystem/adminLoginPage.html" style="position: relative; top: -20px;">Login/Sign up</a></li>
        </ul>
    </nav>
</header>

<body>
    <div class="input">
        <button class="value">
          HOME
        </button>
        <button class="value">
          PROS
        </button>
        <button class="value">
          MODELS
        </button>
    </div>
      <div>
        <img class="setPicCity" src="../../../static/resource/bck_city.jpg">
          <div class="p1text">
            <h1>Accurate Predictions, Smart Investments</h1>
              <h1 style="position: relative; left: 200px">—Empower Your Wealth Growth</h1>
          </div>
      </div>
    <form style="position: relative; bottom: 100px">
        <div>
        <img class="setPicCity2" src="../../../static/resource/bck_stock.jpg">
      </div>
      <div class="position3">
        <div class="vertical-line">&nbsp&nbsp&nbsp
            <h3 class="p2text">ABOUT STOCKFORECAST</h3>
            <h1 class="p2text">Independently Developed<br>AI Stock Prediction Technology</h1>
            <div>
                <img class="img-set" src="../../../static/resource/normal_u16.svg">
                <p class="p3text"> Real-Time Data <br>
                We download and utilize real-time data from Yahoo Finance<br>
                to provide up-to-the-minute stock predictions.</p>
            </div>
            <img class="img-set2" src="../../../static/resource/normal_u17.svg">
            <p class="p4text"> Diverse Predictions <br>
                We offer a variety of prediction models for you to choose<br>
                from, allowing you to customize layers and neuron counts<br>
                to meet your needs.</p>
            <img class="img-set3" src="../../../static/resource/normal_u18.svg">
            <p class="p5text"> Data Convenience<br>
                Our prediction results are presented in a simple and clear <br>
                JSON format, making them easy to download and interpret.</p>
        </div>
      </div>
    </form>

    <form style="position: relative;" id="planPosition">
        <img class="setPicCity3" src="../../../static/resource/bck_sky.jpg">
      <div style="position: relative; bottom: 100px">
          <div class="area1">
          <p style="color: gray; font-size: 26px"> Plans </p>
          <h1 style="color: white; font-size: 43px">Start your jourany for prediction</h1>
      </div>
          <div class="area3"><h2 class="text-set1">Free User</h2>
          <p class="p6text">
              ● Access our forecasting service<br>
              ● Unlimited results storage<br>
              ● Daily query limits </p>
              <p class="p7text"><b> Sign up to become a Free User </b></p>
          </div>
          <div class="area4"><h2 class="text-set1">Premium User</h2>
          <p class="p6text">● Access our forecasting service<br>
        ● Unlimited results storage<br>
        ● No daily query limits<br>
        ● Training use your own data set<br>
        ● Data set storage service </p>
              <p class="p7text"><b> Sign up to become a Free User </b></p>
          </div>
          <div class="area5"><h2 class="text-set1">Business Account</h2>
              <P class="p6text"> ● One data manager account<br>
● One  admin account<br>
● Ten premium accounts*<br>
● Complete account management tools<br>
● Complete data management tools<br><br>
* account can be explanded </P>
              <p class="p7text"><b> Sign up to become a Free User </b></p>
          </div>
      </div>
</form>
<div class="bottomInfo">
    <b>COPYRIGHT 2024 ALL RIGHTS RESERVED StockForecast DESIGN: LI XIANG</b>
    <span style="position: relative; left: 400px"><b>Follow Us:</b></span>
</div>
      
</body>
</html>