<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/UserSystem/officialWeb.css" >
</head>

<header>
    <nav>
        <ul>
            <li><img src="../../../static/resource/replace.png" style="position: relative; left: 20px;"></li>
            <li><a href="" style="position: relative; top: -20px;">StockFrocast</a></li>
            <li><a href="" style="margin-left:40%; position: relative; top: -20px;">Home</a></li>
            <li><a href="" style="position: relative; top: -20px;">Contact US</a></li>
            <li><a href="MainPage.html" style="position: relative; top: -20px;">Start Now</a></li>
        </ul>
    </nav>
</header>

<body>
    <div class="input">
        <button class="value">
          HOME
        </button>
        <button class="value">
          PROS
        </button>
        <button class="value">
          MODELS
      </div>
      <div>
        <img class="setPicCity" src="../../../static/resource/bck_city.jpg">
      </div>
      <div>
        <img class="setPicCity2" src="../../../static/resource/bck_stock.jpg">
      </div>
      <div class="p2text">
        <div class="vertical-line">&nbsp&nbsp&nbsp
            ABOUT STOCKFORECAST
        </div>
      </div>
      <div>
        <img class="setPicCity3" src="../../../static/resource/bck_sky.jpg">
      </div>
      
</body>
</html>