<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="SearchPage.css" >
    <script src="SearchPage.js"></script>
</head>

<body>
  <header>
    <nav>
        <ul>
            <li><a href="MainPage.html" style="margin-left: 10%;">Stock APP</a></li>
            <li><a href="DocumentPage.html" style="margin-left:40%;">API Documentation</a></li>
            <li><a href="ViewerPage.html">API viewer</a></li>
            <li><a href="SearchPage.html">Predition</a></li>
        </ul>
    </nav>
</header>

<div class="web-description1">
  <img class="img" id="lsmImage" src="resource/LSM.png" style="display: block;">
  <img class="img" id="linearImage" src="resource/Linear.png" style="display: none;">
  <img class="img" id="svmImage" src="resource/SVM.png" style="display: none;"><br><br>
   <button class="boton-elegante" onclick="showImage('LSM')">LSM</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <button class="boton-elegante" onclick="showImage('Linear')">Linear</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <button class="boton-elegante" onclick="showImage('SVM')">SVM</button><br><br><br>
  <p class="p-set">Pleaase Select Prediction Period:</p>
  <div class="line" id="line">
    <div class="handle" id="handle"></div>
    <div class="number" id="number">0</div>
    <span class="days">Days</span>
  </div>
    <script src="script.js"></script>
</div>

 

<div class="web-description2">
<img class="img2" src="resource/Logo.svg"><br><br><br>
<input class="ApiKeyInput" placeholder="API key here..."><br><br><br>
<div class="search">
  <input placeholder="Search stock..." type="text">
  <button type="submit">Get Predict</button><br><br><br><br>
  <button class="button1">Upload</button>
</div>

</div>

</body>
</html>