<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="../../../static/UserSystem/SearchPage.css"  >
<!--    <script src="../../../static/UserSystem/SearchPage.js"></script>-->
</head>

<body>
  <header>
    <nav>
        <ul>
            <li><a href="/" style="margin-left: 10%;">Stock APP</a></li>
            <li><a href="DocumentPage" style="margin-left:40%;">API Documentation</a></li>
            <li><a href="ViewerPage">API viewer</a></li>
            <li><a href="SearchPage">Predition</a></li>
        </ul>
    </nav>
</header>
<form action="/getPredictionResult" method="post" enctype="multipart/form-data">
      <div class="web-description1">
      <img class="img" id="lsmImage" src="../../../static/resource/Linear.png" style="display: block;">
      <img class="img" id="linearImage" src="https://editor.analyticsvidhya.com/uploads/71819Screenshot%202021-01-19%20at%2011.41.29%20PM.png" style="display: none;">
      <img class="img" id="svmImage" src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*i-yqUwAYTo2Mz-P1Ql6MbA.png" style="display: none;"><br><br>

         <div class="radio-inputs">
  <label class="radio">
    <input type="radio" name="modelName" value="lr" checked onchange="showImage('LR')">
    <span class="name">LR</span>
  </label>
  <label class="radio">
    <input type="radio" name="modelName" value="lstm" onchange="showImage('LSTM')">
    <span class="name">LSTM</span>
  </label>
  <label class="radio">
    <input type="radio" name="modelName" value="gru" onchange="showImage('GRU')">
    <span class="name">GRU</span>
  </label>
</div>

      <p class="p-set">Please Select Prediction Period:</p>
      <div class="line" id="line">
      <div class="handle" id="handle"></div>
      <div class="number" id="number">1</div>
      <span class="days">Days</span>
          <input type="hidden" id="timeFrame" name="timeFrame" value="1">
  </div>
          <div class="layer">
              <p>Please Select Layer and Neuron</p>
              <label for="Layer" class="layerType">Number of Layer:</label>
    <select id="Layer" name="layers" class="position1">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select><br>

              <label for="neurons" class="layerType">Number of Neurons per Layer:</label>
    <select id="neurons" name="neurons" class="position2">
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="8">8</option>
        <option value="16">16</option>
        <option value="32">32</option>
        <option value="64">64</option>
    </select>
          </div>

</div>

<div class="web-description2">
<img class="img2" src="../../../static/resource/Logo.svg"><br><br><br>
<input class="ApiKeyInput" placeholder="API key here..." name="apikey"><br><br><br>
<div class="search">
  <input placeholder="Type your ticker..." type="text" name="tickerSymbol" id="tickerSymbol">
  <button type="submit">Get Predict</button><br><br><br><br>
  <input type="file" name="file" class="button1" accept=".csv" id="fileInput">
</div>
</div>
</form>


<script src="../../../static/UserSystem/SearchPage.js"></script>

</body>

</html>