<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="SearchPage.css" >
    
</head>

<body>
    
    <div class="container1">
        <h href="#" class="titleText" style="font-size: 100px;">Future</h>

        <div class="search">
            <input placeholder="Search stock..." type="text">
            <button type="submit">Get Predict</button>
        </div>
        <button class="uploadButton" >Upload</button>
    
        <input type="text" placeholder="API key here..." name="text" class="ApiKeyInput">

        <div class="line" id="line">
            <div class="handle" id="handle"></div>
            <div class="number" id="number">0</div>
        </div>
        <script src="script.js"></script>

        <div class="radio-inputs">
            <label class="radio">
              <input type="radio" name="radio" checked="">
              <span class="name">LSTM</span>
            </label>
            <label class="radio">
              <input type="radio" name="radio">
              <span class="name">Linear regression</span>
            </label>
                
            <label class="radio">
              <input type="radio" name="radio">
              <span class="name">SVM</span>
            </label>
          </div>

          <div class="container2">
            <div class="content">
              <div class="content__container">
                <p class="content__container__text">
                  Select
                </p>
                <ul class="content__container__list">
                  <li class="content__container__list__item">Time !</li>
                  <li class="content__container__list__item">And</li>
                  <li class="content__container__list__item">Model !</li>
                </ul>
              </div>
            </div>
          </div>

          <button class="cssbuttons-io-button">
            Get API key
            <div class="icon">
              <svg
                height="24"
                width="24"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
          </button>
          
    </div>

    
      
      

</body>
</html>