<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewr</title>
    <link rel="stylesheet" href="ViewerPage.css" >
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="MainPage.html" style="margin-left: 10%;">Stock APP</a></li>
                <li><a href="DocumentPage.html" style="margin-left:40%;">API Documentation</a></li>
                <li><a href="ViewerPage.html">API viewer</a></li>
                <li><a href="SearchPage.html">Predition</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>