<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewr</title>
    <link rel="stylesheet" href="../../../static/UserSystem/ViewerPage.css" >
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" style="margin-left: 10%;">Stock APP</a></li>
                <li><a href="DocumentPage" style="margin-left:40%;">API Documentation</a></li>
                <li><a href="ViewerPage">API viewer</a></li>
                <li><a href="SearchPage">Predition</a></li>
            </ul>
        </nav>
    </header>

    <div class="web-description">
        <img class="img" src="resource/connect.svg">
        <h1 class="h-set">
            Claim Your Free API Key
        </h1>
        <p class="p-set">
            ————————————————————————————————————————————<br><br>
            Claim your free key for the xxxxxxx Stock API © with lifetime access. <br>
            We highly recommend that you use a legitimate username - <br>
            this is the primary way we will indentify you and store your API key in database. <br>
            By acquiring and using a xxxxxxx API key, you agree to our Terms of Service and Privacy Policy.<br><br><br>

            Which of the following best describes you?<br>
            <select class="select">
                <option value="iner">Invester</option>
                <option value="swd">Sofware Developer</option>
                <option value="ed">educater</option>
                <option value="st">student</option>
                <option value="oh">others</option>
            </select><br><br>
            User Name:<br>
            <input class="input" name="user name"><br><br>
            <div class="button-borders">
                <button class="primary-button"> Get free API key
                </button>
              </div>
        </p>
    </div>
</body>
</html>