<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockPage</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" rel="stylesheet" />
</head>
<body>

    <div class="h-screen" id="app">


<!--   Banner End! -->
<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

<section class="relative flex flex-wrap lg:h-screen lg:items-center">
  <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">We have sent verification code to<i> [[account.email]]</i></h1>

      </p>
      <p class="mt-4 text-gray-500 underline-offset-auto underline" @click="sendVerificationCode">
        [[ buttonText ]]
      </p>
        <div class="mt-8">
        <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" v-model="code"/>

        </div>
        <div class="mt-4">
<button class="btn btn-outline" @click="verifyCode">OK</button>
        </div>
    </div>

  </div>
    <dialog id="exception" class="modal modal-bottom sm:modal-middle">
      <div class="modal-box bg-red-400">
        <h3 class="font-bold text-lg">Failed</h3>
        <p class="py-4">[[exception]]</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn bg-red-200">OK</button>
          </form>
        </div>
      </div>
    </dialog>
  <div class="relative h-64 w-full sm:h-96 lg:h-full lg:w-1/2">
    <img
      alt=""
      src="../../static/resource/bck_city.jpg"
      class="absolute inset-0 h-full w-full object-cover"
    />
  </div>
</section>
    <!-- To The Top Button -->
    <button id="toTopButton" class="fixed bottom-4 right-4 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-700 focus:outline-none hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
      </svg>
  </button>
        </div>

      <script>
            new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            account:{},
            code:"",
            buttonText: 'Recent code',
          email:"",
          password:"",
          exception:"",
            countdown: null
          },
                created(){
                            const lastSentTime = localStorage.getItem('lastSentTime');
                const currentTime = new Date().getTime();
                if (lastSentTime && (currentTime - lastSentTime < 60000)) {
                    const remainingTime = Math.ceil((60000 - (currentTime - lastSentTime)) / 1000);
                    this.buttonText = `Please wait ${remainingTime} seconds before sending another code.`;
                    this.startCountdown(remainingTime);
                }
                },
        mounted(){
            this.account = JSON.parse(sessionStorage.getItem('account'));
                          axios.post('/emailVerification', {
                  email: this.account.email,
              })
        },
        methods: {
            verifyCode(){
                axios.post('/verifyEmailCode', {
                  email: this.account.email,
                    code:this.code,
                    accountId:this.account.accountId
              }).then(response => {
                  if (response.data.success) {
                      console.log('successful');
                        sessionStorage.removeItem('account');
                      window.location.href = '/redirectToUserPage';
                  } else {
                      this.exception =  response.data.error
                      document.getElementById('exception').showModal();
                      console.error('Error:', response.data.error);
                  }
              }).catch(error => {
                  console.error('Error during login request:', error);
                  alert('An error occurred during login. Please try again later.');
              });
            },
                sendVerificationCode() {
                    const lastSentTime = localStorage.getItem('lastSentTime');
                    const currentTime = new Date().getTime();

                    if (lastSentTime && (currentTime - lastSentTime < 60000)) {
                        const remainingTime = Math.ceil((60000 - (currentTime - lastSentTime)) / 1000);
                        this.buttonText = `Please wait ${remainingTime} seconds before sending another code.`;
                        this.startCountdown(remainingTime);
                    } else {
                        // Send verification code logic here
                                                  axios.post('/emailVerification', {
                  email: this.account.email,
              })
                        localStorage.setItem('lastSentTime', currentTime);
                        this.buttonText = 'Please wait 60 seconds before sending another code.';
                        this.startCountdown(60);
                    }},
                            startCountdown(seconds) {
                    clearInterval(this.countdown);
                    this.countdown = setInterval(() => {
                        if (seconds > 1) {
                            seconds--;
                            this.buttonText = `Please wait ${seconds} seconds before sending another code.`;
                        } else {
                            clearInterval(this.countdown);
                            this.buttonText = 'Send Verification Code';
                        }
                    }, 1000);
                },
        }});
      </script>
</body>
</html>