<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockPage</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" rel="stylesheet" />
</head>
<body>

    <div class="h-screen" id="app">


<!--   Banner End! -->
<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

<section class="relative flex flex-wrap lg:h-screen lg:items-center">
  <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h1 class="text-2xl font-bold sm:text-3xl">Get started today!</h1>

      <p class="mt-4 text-gray-500">
        Visit our website now!
      </p>
    </div>

    <form @submit.prevent="login" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
      <div>
        <label  class="sr-only" >Email</label>

        <div class="relative">
          <input
            type="email"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter email"
            v-model="email"
          />

          <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
              />
            </svg>
          </span>
        </div>
      </div>

      <div>
        <label  class="sr-only">Password</label>

        <div class="relative">
          <input
            type="password"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter password"
            v-model="password"
          />

          <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              />
            </svg>
          </span>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <p class="text-sm text-gray-500">
          No account?
          <a class="underline" href="/signup">Sign up</a>
        </p>

        <button
          class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
          @click="login"
        >
          Sign in
        </button>
      </div>
    </form>
  </div>
    <dialog id="exception" class="modal modal-bottom sm:modal-middle">
      <div class="modal-box bg-red-400">
        <h3 class="font-bold text-lg">Failed</h3>
        <p class="py-4">[[exception]]</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn bg-red-200">OK</button>
          </form>
        </div>
      </div>
    </dialog>
  <div class="relative h-64 w-full sm:h-96 lg:h-full lg:w-1/2">
    <img
      alt=""
      src="../../static/resource/bck_city.jpg"
      class="absolute inset-0 h-full w-full object-cover"
    />
  </div>
</section>
    <!-- To The Top Button -->
    <button id="toTopButton" class="fixed bottom-4 right-4 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-700 focus:outline-none hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
      </svg>
  </button>
        </div>

      <script>
            new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          email:"",
          password:"",
          exception:""
          },
        mounted(){

        },
        methods: {
          login() {
            console.log(this.email,this.password)
              axios.post('/login', {
                  email: this.email,
                  password: this.password
              }).then(response => {
                  if (response.data.success) {
                      console.log('Login successful');
                      sessionStorage.setItem('account', JSON.stringify(response.data.account));
                      window.location.href = '/emailVerification'; // Redirect to industry.html after successful submission
                  } else {
                      this.exception =  response.data.error
                      document.getElementById('exception').showModal();
                      console.error('Error:', response.data.error);
                  }
              }).catch(error => {
                  console.error('Error during login request:', error);
                  alert('An error occurred during login. Please try again later.');
              });
          }
        }});
      </script>
</body>
</html>