<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>login</title>
  </head>
  <body>
<div class="card w-96 bg-base-100 shadow-xl card-compact mx-auto" id="app">
<div class="card-body items-center space-y-2">
  <h2 class="card-title">Login</h2>
  <p>If you have an account,  please log in here.</p>
  <p class="text-slate-500">Don't have an account? <a class="text-cyan-700">Sign up</a></p>
  <label class="input input-bordered flex items-center gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" /></svg>
    <input type="text" class="grow w-max" placeholder="Username" v-model="username" />
  </label>
  <label class="input input-bordered flex items-center gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z" clip-rule="evenodd" /></svg>
    <input type="password" class="grow" placeholder="Password" v-model="password" />
  </label>
  <button class="btn btn-primary btn-wide w-40" @click="login">Login</button>
</div>
  <dialog id="loginFailed" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box bg-red-400">
    <h3 class="font-bold text-lg">Failed</h3>
    <p class="py-4">[[exception]]</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn bg-red-200">Enter Again</button>
      </form>
    </div>
  </div>
</dialog>
</div>
 <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          username: null,
          password: null,
          exception : null
        },
        methods: {
          login() {
            axios.post('/login', {
              username: this.username,
              password: this.password
            })
            .then(response => {
              if (response.data.success) {
                // Handle successful login, e.g., redirect to another page
                window.location.href = '/redirectToUserPage';
                console.log('Login successful:', response.data);
              } else {
                // Handle login error
                this.exception = response.data.error;
                document.getElementById('loginFailed').showModal();
                console.error('Login failed:', response.data.error);
              }
            })
          }
        }
      });
    </script>
  </body>
</html>
