<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Personal Information</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      #editableContent {
        display: none;
      }
      #alert {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        max-width: 90%;
      }
      .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
      }
    </style>
  </head>
  <body>
    <div id="app" class="flex h-screen">
      <!-- Left Sidebar Start -->
      <div
        class="w-16 flex flex-col justify-between border-e bg-white h-screen fixed"
      >
        <div>
          <div class="inline-flex size-16 items-center justify-center">
            <span
              class="grid size-10 place-content-center rounded-lg bg-gray-100 text-xs text-gray-600"
              >L</span
            >
          </div>
          <div class="border-t border-gray-100">
            <div class="px-2">
              <div class="py-4">
                <a
                  href="#"
                  class="t group relative flex justify-center rounded bg-blue-50 px-2 py-1.5 text-blue-700"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 opacity-75"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    ></path>
                  </svg>
                  <span
                    class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                    >General</span
                  >
                </a>
              </div>
              <ul class="space-y-1 border-t border-gray-100 pt-4">
                <li>
                  <a
                    href="#"
                    class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#000000"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"
                      />
                      <circle cx="12" cy="10" r="3" />
                      <circle cx="12" cy="12" r="10" />
                    </svg>
                    <span
                      class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                      >My Account</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#000000"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                      ></path>
                    </svg>
                    <span
                      class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                      >Favourites</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#000000"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"
                      ></path>
                      <circle cx="9" cy="7" r="4"></circle>
                      <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                    <span
                      class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                      >Friend</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#000000"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <circle cx="12" cy="12" r="10"></circle>
                      <polyline points="12 6 12 12 16 14"></polyline>
                    </svg>
                    <span
                      class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                      >History Search</span
                    >
                  </a>
                </li>
                <li>
                  <a
                    href="#comment"
                    class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700"
                  >
                    <svg
                      class="h-8 w-8 text-gray-900"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"
                      />
                    </svg>
                    <span
                      class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                      >Comment</span
                    >
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="sticky inset-x-0 bottom-0 border-t border-gray-100 bg-white p-2"
        >
          <form action="#">
            <button
              type="submit"
              class="group relative flex w-full justify-center rounded-lg px-2 py-1.5 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-5 opacity-75"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                ></path>
              </svg>
              <span
                class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                >Logout</span
              >
            </button>
          </form>
        </div>
      </div>
      <!-- Left Sidebar End -->

      <!-- Nav Bar Start -->
      <div class="flex-1 bg-gray-100 ml-16">
        <div class="navbar bg-base-100/95 fixed top-0 w-[calc(100%-4rem)]">
          <div class="">
            <a class="btn btn-ghost text-xl">Stock4Me</a>
          </div>
          <input
            type="text"
            placeholder="Search"
            class="input input-sm input-bordered w-80 ml-4"
          />
          <button class="btn btn-outline btn-sm btn-success ml-2">
            Search
          </button>
        </div>

        <!-- Main Content Start -->
        <div class="overflow-y-scroll p-8 bg-white border mt-16">
          <div class="flex justify-center mb-4"></div>
          <h1>Personal Information</h1>
          <div class="flow-root">
            <dl class="-my-3 divide-y divide-gray-100 text-sm">
              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Name</dt>
                <dd class="text-gray-700 sm:col-span-2">Example Name</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Password</dt>
                <dd class="text-gray-700 sm:col-span-2">********</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Email</dt>
                <dd class="text-gray-700 sm:col-span-2">Example@email.com</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Bio</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et
                  facilis debitis explicabo doloremque impedit nesciunt dolorem
                  facere, dolor quasi veritatis quia fugit aperiam aspernatur
                  neque molestiae labore aliquam soluta architecto?
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Profile</dt>
                <dd class="text-gray-700 sm:col-span-2">Premium</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Status</dt>
                <dd class="text-gray-700 sm:col-span-2">Valid</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Age</dt>
                <dd class="text-gray-700 sm:col-span-2">24</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Sex</dt>
                <dd class="text-gray-700 sm:col-span-2">Male</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Occupation</dt>
                <dd class="text-gray-700 sm:col-span-2">Banker</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Income Level</dt>
                <dd class="text-gray-700 sm:col-span-2">$1,000+</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Net Worth</dt>
                <dd class="text-gray-700 sm:col-span-2">$1,000,000+</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Invextment Experience</dt>
                <dd class="text-gray-700 sm:col-span-2"></dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Risk Tolerance</dt>
                <dd class="text-gray-700 sm:col-span-2"></dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Investment Goals</dt>
                <dd class="text-gray-700 sm:col-span-2">$5,000,000+</dd>
              </div>
            </dl>
          </div>

          <!-- Button Start -->
          <div class="flex justify-center mt-4">
            <button id="infoButton" class="btn btn-sm">Info</button>
          </div>
          <!-- Button End -->
        </div>
        <!-- Main Content End -->

        <!-- Editable Content Start -->
        <div
          id="editableContent"
          class="overflow-y-scroll p-8 bg-white border mt-16"
        >
          <div id="editableContent" class="flex justify-center mb-4"></div>
          <h1>Edit your bio</h1>
          <div class="flow-root">
            <dl class="-my-3 divide-y divide-gray-100 text-sm">
              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Name</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <label
                    for="Name"
                    class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
                  >
                    <input
                      type="text"
                      id="Name"
                      placeholder="Name"
                      class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                    />

                    <span
                      class="absolute start-3 top-3 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs"
                    >
                      Name
                    </span>
                  </label>
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Password</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <label
                    for="Password"
                    class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
                  >
                    <input
                      type="password"
                      id="Password"
                      placeholder="Password"
                      class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                    />

                    <span
                      class="absolute start-3 top-3 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs"
                    >
                      Password
                    </span>
                  </label>
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Email</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <label
                    for="Email"
                    class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
                  >
                    <input
                      type="email"
                      id="Email"
                      placeholder="Email"
                      class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                    />

                    <span
                      class="absolute start-3 top-3 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs"
                    >
                      Email
                    </span>
                  </label>
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Bio</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <div>
                    <label for="Bio" class="sr-only"></label>
                    <div
                      class="overflow-hidden rounded-lg border border-gray-200 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
                    >
                      <textarea
                        id="Bio"
                        class="w-full resize-none border-none align-top focus:ring-0 sm:text-sm"
                        rows="4"
                        placeholder="Bio..."
                      ></textarea>

                      <div
                        class="flex items-center justify-end gap-2 bg-white p-3"
                      >
                        <button
                          type="button"
                          class="rounded bg-indigo-600 px-3 py-1.5 text-sm font-medium text-white hover:bg-indigo-700"
                        >
                          Add
                        </button>
                      </div>
                    </div>
                  </div>
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Profile</dt>
                <dd class="text-gray-700 sm:col-span-2">Premium</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Status</dt>
                <dd class="text-gray-700 sm:col-span-2">Valid</dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Age</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <label
                    for="Age"
                    class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
                  >
                    <input
                      type="number"
                      id="Age"
                      placeholder="Age"
                      class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                    />

                    <span
                      class="absolute start-3 top-3 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs"
                    >
                      Age
                    </span>
                  </label>
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Sex</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <details class="dropdown">
                    <summary class="btn m-1">Sex</summary>
                    <ul
                      class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
                    >
                      <li><a>Male</a></li>
                      <li><a>Female</a></li>
                      <li><a>Other</a></li>
                    </ul>
                  </details>
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Occupation</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <label
                    for="Occupation"
                    class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
                  >
                    <input
                      type="text"
                      id="Occupation"
                      placeholder="Occupation"
                      class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                    />

                    <span
                      class="absolute start-3 top-3 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs"
                    >
                      Occupation
                    </span>
                  </label>
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Income Level</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <label
                    for="Income"
                    class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
                  >
                    <input
                      type="number"
                      id="Income"
                      placeholder="Income Level"
                      class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                    />

                    <span
                      class="absolute start-3 top-3 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs"
                    >
                      $
                    </span>
                  </label>
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Net Worth</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <label
                    for="Networth"
                    class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
                  >
                    <input
                      type="number"
                      id="Networth"
                      placeholder="Net Worth"
                      class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                    />

                    <span
                      class="absolute start-3 top-3 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs"
                    >
                      $
                    </span>
                  </label>
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Invextment Experience</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <details class="dropdown">
                    <summary class="btn m-1">Investment Experience</summary>
                    <ul
                      class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
                    >
                      <li><a>Novice</a></li>
                      <li><a>Intermediate</a></li>
                      <li><a>Expert</a></li>
                    </ul>
                  </details>
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Risk Tolerance</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <details class="dropdown">
                    <summary class="btn m-1">Risk Tolerance</summary>
                    <ul
                      class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
                    >
                      <li><a>Low</a></li>
                      <li><a>Medium</a></li>
                      <li><a>High</a></li>
                    </ul>
                  </details>
                </dd>
              </div>

              <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                <dt class="font-medium text-gray-900">Investment Goals</dt>
                <dd class="text-gray-700 sm:col-span-2">
                  <label
                    for="InvestmentGoals"
                    class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
                  >
                    <input
                      type="number"
                      id="InvestmentGoals"
                      placeholder="Investment Goals"
                      class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
                    />

                    <span
                      class="absolute start-3 top-3 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-3 peer-focus:text-xs"
                    >
                      $
                    </span>
                  </label>
                </dd>
              </div>
            </dl>
          </div>

          <!-- Button Start -->
          <div class="flex justify-center mt-4">
            <button id="confirmButton" class="btn btn-sm">
              Confirm Changes
            </button>
          </div>
          <!-- Button End -->
        </div>
        <!-- Editable Content End -->

        <!-- Overlay Start -->
        <div id="overlay" class="overlay"></div>
        <!-- Overlay End -->

        <!-- Alert Start -->
        <div id="alert" class="rounded-xl border border-gray-100 bg-white p-4">
          <div class="flex items-start gap-4">
            <span class="text-green-600">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </span>

            <div class="flex-1">
              <strong class="block font-medium text-gray-900">
                Changes saved
              </strong>

              <p class="mt-1 text-sm text-gray-700">
                Your changes have been saved.
              </p>
            </div>

            <button
              id="dismissAlertButton"
              class="text-gray-500 transition hover:text-gray-600"
            >
              <span class="sr-only">Dismiss popup</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
        <!-- Alert End -->
      </div>
      <!-- Nav Bar End -->
    </div>

    <script>
      document
        .getElementById("infoButton")
        .addEventListener("click", function () {
          document.getElementById("editableContent").style.display = "block";
        });

      document
        .getElementById("confirmButton")
        .addEventListener("click", function () {
          document.getElementById("editableContent").style.display = "none";
          document.getElementById("alert").style.display = "block";
          document.getElementById("overlay").style.display = "block";
        });

      document
        .getElementById("dismissAlertButton")
        .addEventListener("click", function () {
          document.getElementById("alert").style.display = "none";
          document.getElementById("overlay").style.display = "none";
        });
    </script>
  </body>
</html>
