<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockPage</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" rel="stylesheet" />
</head>
<body>

    <div class="h-screen" id="app">


<section class="relative flex flex-wrap lg:h-screen lg:items-center">
  <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Reset your password here</h1>

      </p>
      <p class="mt-4 text-gray-500 underline-offset-auto underline cursor-pointer" @click="sendVerificationCode">
        [[ buttonText ]]
      </p>
        <p class="mt-4 text-gray-500 underline-offset-auto underline cursor-pointer"><a href="/login">Back to Login</a></p>
        <div class="mt-8 flex flex-col gap-y-4 place-content-center">
            <input type="text" placeholder="Email" class="input input-bordered w-full max-w-xs  mx-auto" v-model="email"/>
        <input type="text" placeholder="Type Code here" class="input input-bordered w-full max-w-xs mx-auto" v-model="code" :disabled="lock"/>
        <label class="input input-bordered flex items-center gap-2 w-80 mx-auto">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16 16"
    fill="currentColor"
    class="h-4 w-4 opacity-70">
    <path
      fill-rule="evenodd"
      d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
      clip-rule="evenodd" />
  </svg>
  <input type="password" class="grow" v-model="pwd" :disabled="lock"/>
</label>
            <label class="input input-bordered flex items-center gap-2 w-80 mx-auto">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16 16"
    fill="currentColor"
    class="h-4 w-4 opacity-70">
    <path
      fill-rule="evenodd"
      d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
      clip-rule="evenodd" />
  </svg>
  <input type="password" class="grow" v-model="rePwd" :disabled="lock"/>
</label>
        </div>
        <div class="mt-4">
<button class="btn btn-outline" @click="verifyCode">OK</button>
        </div>
    </div>

  </div>
    <dialog id="exception" class="modal modal-bottom sm:modal-middle">
      <div class="modal-box bg-red-400">
        <h3 class="font-bold text-lg">Failed</h3>
        <p class="py-4">[[exception]]</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn bg-red-200">OK</button>
          </form>
        </div>
      </div>
    </dialog>
        <dialog id="info" class="modal modal-bottom sm:modal-middle">
      <div class="modal-box bg-blue-400">
        <h3 class="font-bold text-lg">Well done</h3>
        <p class="py-4">[[info]]</p>
        <div class="modal-action">
          <form method="dialog">
              <button class="btn bg-blue-200"><a href="/login">Go to login</a></button>
          </form>
        </div>
      </div>
    </dialog>
  <div class="relative h-64 w-full sm:h-96 lg:h-full lg:w-1/2">
    <img
      alt=""
      src="../../static/resource/bck_city.jpg"
      class="absolute inset-0 h-full w-full object-cover"
    />
  </div>
</section>
    <!-- To The Top Button -->
    <button id="toTopButton" class="fixed bottom-4 right-4 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-700 focus:outline-none hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
      </svg>
  </button>
        </div>

      <script>
            new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            account:{},
            code:"",
            buttonText: 'Send and Recent code here',
          email:"",
          pwd:"",
            rePwd:"",
          exception:"",
            countdown: null,
            info:'',
            lock:true
          },
                created(){
                            const lastSentTime = localStorage.getItem('lastSentTime');
                const currentTime = new Date().getTime();
                if (lastSentTime && (currentTime - lastSentTime < 10000)) {
                    const remainingTime = Math.ceil((10000 - (currentTime - lastSentTime)) / 1000);
                    this.buttonText = `Please wait ${remainingTime} seconds before sending another code.`;
                    this.startCountdown(remainingTime);
                }
                },
        mounted(){
        },
        methods: {
            verifyCode(){
                if(this.code === "" || this.code === null){
                    this.exception = "please enter your code"
                    document.getElementById('exception').showModal();
                    return;
                }else if (this.pwd !== this.rePwd){
                    this.exception = "please enter your password or your reentered password is not correct"
                    document.getElementById('exception').showModal();
                    return;
                }
                axios.post('/reset_pwd', {
                    email:this.email,
                    code:this.code,
                    password:this.pwd
              }).then(response => {
                  if (response.data.success) {
                      this.info = "You have reset your password";
                      document.getElementById('info').showModal();
                  }else {
                      this.exception = 'Error updating information: ' + response.data.error;
                        document.getElementById('exception').showModal();
                  }
              }).catch(error => {
                  console.error('Error during login request:', error);
                  alert('An error occurred during login. Please try again later.');
              });
            },
                sendVerificationCode() {
                                if (this.email === ""){
                    this.exception = "please enter email";
                    document.getElementById('exception').showModal();
                    return
                }
                                this.lock = false;
                    const lastSentTime = localStorage.getItem('lastSentTime');
                    const currentTime = new Date().getTime();

                    if (lastSentTime && (currentTime - lastSentTime < 10000)) {
                        const remainingTime = Math.ceil((10000 - (currentTime - lastSentTime)) / 1000);
                        this.buttonText = `Please wait ${remainingTime} seconds before sending another code.`;
                        this.startCountdown(remainingTime);
                    } else {
                        // Send verification code logic here
                                                  axios.post('/emailVerification', {
                  email: this.email,
                                                      status:"resetPwd"
              }).then(response => {
                  if (!response.data.success) {
                      this.exception = "We don't have that email in our accounts.";
                      document.getElementById('exception').showModal();
                  }
              })
                        localStorage.setItem('lastSentTime', currentTime);
                        this.buttonText = 'Please wait 10 seconds before sending another code.';
                        this.startCountdown(10);
                    }},
                            startCountdown(seconds) {
                    clearInterval(this.countdown);
                    this.countdown = setInterval(() => {
                        if (seconds > 1) {
                            seconds--;
                            this.buttonText = `Please wait ${seconds} seconds before sending another code.`;
                        } else {
                            clearInterval(this.countdown);
                            this.buttonText = 'Send Verification Code';
                        }
                    }, 1000);
                },
        }});
      </script>
</body>
</html>