<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="app" class="flex h-screen">
    <!-- Left Sidebar -->
    <div class="w-16 flex flex-col justify-between border-e bg-white h-screen fixed">
        <div>
            <div class="inline-flex size-16 items-center justify-center">
                <span class="grid size-10 place-content-center rounded-lg bg-gray-100 text-xs text-gray-600">L</span>
            </div>
            <div class="border-t border-gray-100">
                <div class="px-2">
                    <div class="py-4">
                        <a href="#" class="t group relative flex justify-center rounded bg-blue-50 px-2 py-1.5 text-blue-700">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5 opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                            <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">General</span>
                        </a>
                    </div>
                    <ul class="space-y-1 border-t border-gray-100 pt-4">
                        <li>
                            <a href="#" class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg>
                                <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">My Account</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">Favourites</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">Friend</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">History Search</span>
                            </a>
                        </li>
                        <li>
                            <a href="#comment" class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700">
                                <svg class="h-8 w-8 text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"/>
                                </svg>
                                <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">Comment</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sticky inset-x-0 bottom-0 border-t border-gray-100 bg-white p-2">
            <form action="#">
                <button type="submit" class="group relative flex w-full justify-center rounded-lg px-2 py-1.5 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-5 opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                    </svg>
                    <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">Logout</span>
                </button>
            </form>
        </div>
    </div>
    <div class="flex-1 bg-gray-100 ml-16">
        <div class="navbar bg-base-100/95 fixed top-0 w-[calc(100%-4rem)]">
            <div class="">
                <a class="btn btn-ghost text-xl">Stock4Me</a>
            </div>
            <input type="text" placeholder="Search symbol or accounts..." class="input input-sm input-bordered w-80 ml-4" v-model="search">
            <button class="btn btn-outline btn-sm btn-success ml-2" @click="doSearch">Search</button>
        </div>
        <div class="overflow-y-scroll p-8 bg-white border mt-16">
            <!-- Main Content -->
            <div class="flex justify-center mb-4">
                <div class="inline-flex rounded-lg border border-gray-100 bg-gray-100 p-1">
                    <button
                        :class="{'bg-white text-blue-500 shadow-sm': showStock, 'text-gray-500 hover:text-gray-700': !showStock}"
                        class="inline-block rounded-md px-8 py-3 text-md focus:relative"
                        @click="showStockTable"
                    >
                        Stock
                    </button>

                    <button
                        :class="{'bg-white text-blue-500 shadow-sm': !showStock, 'text-gray-500 hover:text-gray-700': showStock}"
                        class="inline-block rounded-md px-8 py-3 text-md focus:relative"
                        @click="showFriendTable"
                    >
                        User
                    </button>
                </div>
            </div>
            <h1 class="text-black text-2xl font-bold mb-4">[[ title ]]</h1>
            <div v-if="showStock">
  <div class="join mt-8 md-4">
    <button class="btn join-item" @click="sortStockList('price')">Filter by Price</button>
    <button class="btn join-item" @click="sortStockList('absolute_change')">Filter by Change</button>
    <button class="btn join-item" @click="sortStockList('volume')">Filter by Volume</button>
  </div>
                <div class="overflow-x-auto">
                  <table class="table" v-if="stockHasNoData !== 1">
                    <!-- head -->
                    <thead>
                      <tr>
                        <th class="text-black">#</th>
                        <th class="text-black text-xl text-center">Symbol</th>
                        <th class="text-black text-xl text-center">Full Name</th>
                        <th class="text-black text-xl text-center">Latest Price</th>
                        <th class="text-black text-xl text-center">Chg</th>
                        <th class="text-black text-xl ">%Chg</th>
                        <th class="text-black text-xl ">Volume</th>
                        <th class="text-black text-xl ">Watch List</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- row 1 -->
                      <tr v-for="(stock, index) in stockList" :key="index"  @click="navigateToStock(stock.symbol)" class="hover:bg-gray-200 cursor-pointer">
                        <th class="text-black text-xl text-center">[[ index + 1 ]]</th>
                        <td class="text-black text-xl text-center">[[ stock.symbol ]]</td>
                        <td class="text-black text-xl truncate max-w-xs">[[ stock.longName ]]</td>
                        <td :class="{'text-green-500': stock.relative_change > 0, 'text-red-500': stock.relative_change < 0}" class="text-xl">[[ stock.price ]]</td>
                        <td :class="{'text-green-500': stock.relative_change > 0, 'text-red-500': stock.relative_change < 0}" class="text-xl">[[ stock.absolute_change ]]</td>
                        <td :class="{'text-green-500': stock.relative_change > 0, 'text-red-500': stock.relative_change < 0}" class="text-xl">[[ stock.relative_change ]]</td>
                        <td class="text-black text-xl">[[ stock.volume ]]</td>
                        <td class="text-xl">
                          <button
                            class="btn btn-outline btn-sm w-40"
                            @click.stop="toggleFollow(stock.symbol)"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="h-6 w-6 text-red-500"
                              :fill="stockWatchList.includes(stock.symbol) ? 'currentColor' : 'none'"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                              />
                            </svg>
                            <span class="text-red-500">[[ stockWatchList.includes(stock.symbol) ? 'Followed' : 'Follow' ]]</span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                   <div class="flex w-full flex-col gap-4 mt-8">
  <div class="skeleton h-32 w-full" v-if="stockList.length === 0 && stockHasNoData === 0"></div>
  <div class="skeleton h-4 w-28" v-if="stockList.length === 0 && stockHasNoData === 0"></div>
  <div class="skeleton h-4 w-full" v-if="stockList.length === 0 && stockHasNoData === 0"></div>
  <div class="skeleton h-4 w-full" v-if="stockList.length === 0 && stockHasNoData === 0"></div>
                       <div role="alert" class="alert mt-8" v-if="stockHasNoData === 1">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="stroke-info h-6 w-6 shrink-0">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <span>Oh, we didn't find any related stocks, please try searching again!</span>
</div>
</div>
                </div>
            </div>
            <div v-else>
                <h2 class="text-lg font-bold text-black">User Information</h2>
                <div class="overflow-x-auto">
                  <table class="table" v-if="accountHasNoData !== 1">
                    <!-- head -->
                    <thead>
                      <tr>
                        <th class="text-black">#</th>
                        <th class="text-black text-lg " style="width: 15%;">User Name</th>
                        <th class="text-black text-lg">BIO</th>
                        <th class="text-black text-lg">Follow</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- row 1 -->
                      <tr v-for="(account, index) in accountsList" :key="index" class="hover:bg-gray-200 cursor-pointer" @click="gotoSpace(account.accountId)">
                        <th class="text-black text-lg text-center">[[ index + 1 ]]</th>
                        <td class="text-black text-lg text-center" style="width: 15%;">[[ account.userName ]]</td>
                        <td class="text-black text-md break-words text-center">[[ account.bio ]]</td>
                        <td class="text-lg text-center">
                          <button
                            class="btn btn-outline btn-sm w-40"
                            @click.stop="toggleFriendFollow(account.accountId)"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="h-6 w-6 text-red-500"
                              :fill="accountFavoList.includes(account.accountId) ? 'currentColor' : 'none'"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                              />
                            </svg>
                            <span class="text-red-500">[[ accountFavoList.includes(account.accountId) ? 'Followed' : 'Follow' ]]</span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                                           <div role="alert" class="alert mt-8" v-if="accountHasNoData === 1">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="stroke-info h-6 w-6 shrink-0">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <span>Oh, we didn't find any related accounts, please try searching again!</span>
</div>
                </div>
            </div>
            <!-- Main Content END -->
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            search:"",
            stockHasNoData:0,
            accountHasNoData:0,
            accountsList: JSON.parse('{{accountsList|tojson}}'),  // 用户搜索结果列表
            accountFavoList: JSON.parse('{{accountFavoList|tojson}}'),  // 用户关注列表
            stockWatchList: JSON.parse('{{stockWatchList|tojson}}'),  // 股票关注列表
            stockList: [],  // 股票搜索结果列表
            showStock: true,  // 控制显示的表格
            title: 'Searching Result',  // 标题
            content: JSON.parse('{{content|tojson}}'),
                        sortKey: '',
            sortOrder: 1 // 1 for ascending, -1 for descending
        },
        mounted(){
                                        if(this.accountsList.length === 0){
                                this.accountHasNoData = 1;
                            }
                            axios.post(`/searchSymbol/${this.content}`)
                    .then(response => {
                         this.stockList = response.data
                        if (this.stockList.length === 0){
                            this.stockHasNoData = 1;
                        }
                    });


        },
        methods: {
            gotoSpace(id){
                window.location.href = `/space/${id}`;
            },
            sortStockList(key) {
                if (this.sortKey === key) {
                    this.sortOrder = -this.sortOrder;
                } else {
                    this.sortKey = key;
                    this.sortOrder = 1;
                }
                this.stockList.sort((a, b) => {
                    let aValue = a[key];
                    let bValue = b[key];
                    if (key === 'volume') {
                        aValue = parseFloat(aValue);
                        bValue = parseFloat(bValue);
                    }
                    if (typeof aValue === 'string') {
                        return this.sortOrder * aValue.localeCompare(bValue);
                    }
                    return this.sortOrder * (aValue - bValue);
                });
            },
            doSearch(){
                window.location.href = `/search/${this.search}`;
            },
            navigateToStock(symbol) {
              window.location.href = `/symbol/${symbol}`;
            },
            showStockTable() {
                this.showStock = true;
                this.title = 'Searching Result';
            },
            showFriendTable() {
                this.showStock = false;
                this.title = 'User List';
            },
            toggleFollow(symbol) {
                const index = this.stockWatchList.indexOf(symbol);
                if (index > -1) {
                    this.stockWatchList.splice(index, 1);
                    console.log(symbol)
                        //todo follow
                } else {
                    this.stockWatchList.push(symbol);
                    console.log(symbol)
                }
                // 发送更新请求
                axios.post('/update_watchList', {watchList:this.stockWatchList})
                    .then(response => {
                        console.log('Stock watch list updated:', response.data);
                    })
                    .catch(error => {
                        console.error('Error updating stock watch list:', error);
                    });
            },
            toggleFriendFollow(accountId) {
                const index = this.accountFavoList.indexOf(accountId);
                if (index > -1) {
                    this.accountFavoList.splice(index, 1);
                    axios.post(`/remove_follower_in_followList/${accountId}`)
                    .then(response => {
                         this.stockList = response.data
                    });

                } else {
                    this.accountFavoList.push(accountId);
                    axios.post(`/insert_followList/${accountId}`)
                    .then(response => {
                         this.stockList = response.data
                    });
                }
            },
            getSymbol() {
                axios.get('/get_notification')
                    .then(response => {
                        this.notifications = response.data;
                    });
            },
            getRecommendationSymbols() {
                axios.get('/recommendation_symbol')
                    .then(response => {
                        this.recommendationSymbols = response.data;
                    });
            },
            getRecommendationNews() {
                this.newsPage += 1;
                axios.get('/recommendation_news/' + this.newsPage)
                    .then(response => {
                        this.recommendationNews.push(...response.data);
                    });
            },
            loadMoreNews() {
                this.getRecommendationNews();
            },
            removeNotification(id) {
                this.notifications = this.notifications.filter(notification => notification.notificationId !== id);
            },
            toggleWatchlist(symbol) {
                // Logic to toggle watchlist status
            }
        }
    });
</script>

</body>
</html>
