<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="icon" sizes="32x32" href="../../static/resource/LOGOS/favicon.ico">
    <title>Stock4me</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/klinecharts/dist/umd/klinecharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <style>


        .recommStockSlide {
  width: 280px;
  min-width: 280px;
}
    </style>
</head>
<body>
<div class="h-screen" id="app">
<header class="bg-white">
        <div class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
          <a class="block text-teal-600" href="#">
            <span class="sr-only">Home</span>
          <img src="../../static/resource/LOGOS/BlackLogo.png" class="w-8 h-8">
            </svg>
          </a>

          <div class="flex flex-1 items-center justify-end md:justify-between">
            <nav aria-label="Global" class="hidden md:block">
              <ul class="flex items-center gap-6 text-sm">
                <li>
                </li>
              </ul>
            </nav>

            <div class="flex items-center gap-4">
              <div class="sm:flex sm:gap-4">
                <a
                  class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700"
                  href="/login"
                >
                  Login
                </a>

                <a
                  class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 sm:block"
                  href="/pricing"
                >
                  Register
                </a>
              </div>

              <button
                class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
              >
                <span class="sr-only">Toggle menu</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </header>
<!-- Banner Start! -->
<section
  class="relative bg-[url(../../static/resource/bck_city.jpg)] bg-cover bg-center bg-no-repeat"
>
  <div
    class="absolute inset-0 bg-gray-900/75 sm:bg-transparent sm:from-gray-900/95 sm:to-gray-900/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-xl ltr:sm:text-left rtl:sm:text-right">
      <h1 class="text-3xl font-extrabold text-white sm:text-5xl">
        Your powerful investment assistant

        <strong class="block font-extrabold text-rose-500"> StockForecast4.me </strong>
      </h1>

      <p class="mt-4 max-w-lg text-white sm:text-xl/relaxed">
        Accurate Predictions, Smart Investments<br>
—Empower Your Wealth Growth!
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="#start"
          class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
        >
          Get Started
        </a>

        <a
          href="#info"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
<!--   Banner End! -->
<!--   Stat Start! -->
    <div id="my-keen-slider" class="keen-slider flex flex-row py-12 sm:px-6 lg:me-0 lg:py-16 lg:pe-0 lg:ps-8 xl:py-24">
                <div
          v-for="(stock, index) in commonSymbol"
          :key="index"
            :class="['keen-slider__slide','recommStockSlide', 'number-slide' + (index + 1), 'custom-slide', 'bg-white', 'p-4', 'rounded-lg',  'hover:shadow-md', 'transition-shadow', 'duration-300', 'w-fit', 'h-fit']"        >
          <div>
            <div class="flex gap-4 w-fit">
              <a
                target="_blank"
                class="text-blue-500 text-sm"
                >[[stock.longName]]
              </a>
            </div>
            <p class="text-lg text-gray-800 mb-1">[[stock.price]]</p>
            <p
              :class="{
                'text-green-500': stock.relative_change >= 0,
                'text-red-500': stock.relative_change < 0,
              }"
              class="text-sm font-semibold"
            >
              [[stock.relative_change + '%']] ([[stock.absolute_change]])
            </p>
          </div>
          <canvas
            :id="'recommandChart' + index"
            style="width: 250px; height: 50px"
            class="rounded-xl"
          ></canvas>
        </div>

    </div>
<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8 mt-8" id="info">
    <div class="mx-auto max-w-3xl text-center">
      <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">Trusted by our Customers and Business</h2>

      <p class="mt-4 text-gray-500 sm:text-xl">
        You deserve to be trusted with our stock system
      </p>
    </div>

    <div class="mt-8 sm:mt-12">
      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">Users signup</dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">[[stat.usersCount]]</dd>
        </div>

        <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">Prediction data</dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">[[stat.prediction]]</dd>
        </div>

        <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">Supported stock</dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">[[stat.symbol]] +</dd>
        </div>
      </dl>
    </div>
  </div>
</section>
<!-- Stat End -->
<!-- kLine Start -->
    <div class="text-center text-4xl mt-8">
        <h1><b>What service we have </b></h1><br>
    </div>
    <div class="grid grid-cols-1 gap-1 xl:grid-cols-2 lg:gap-6 px-10 relative">
  <div class="h-fit rounded-lg pl-8 mt-14 mr-20">
      <div class="flex gap-3">
          <article
  class="mr-8 w-1/2 h-34 bg-gray-700 shadow p-4 space-y-2 rounded-md hover:-translate-y-2 duration-300"
>
  <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.2 7.8l-7.7 7.7-4-4-5.7 5.7"/><path d="M15 7h6v6"/></svg>

  <p class="text-xl text-white">
    Stocks in multiple countries with historical and real time data, as well as an ML prediction system
  </p>
</article>
          <article
  class=" w-1/2 h-34 bg-gray-700 shadow p-4 space-y-2 rounded-md hover:-translate-y-2 duration-300"
>
  <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
  <p class="text-xl w-fit text-white">
    Friend system, you can check and follow users, share favourites
  </p>
</article>
      </div>
      <div class="mt-16 flex gap-3">
          <article
  class="w-1/2 mr-8 bg-gray-700 shadow p-4 space-y-2 rounded-md hover:-translate-y-2 duration-300"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
  <p class="text-xl w-full text-white">
    Bookmark and follow your favourite stocks and get news and stock data on your favourite industries and countries.
  </p>
</article>
          <article
  class="w-1/2 h-34 bg-gray-700 shadow p-4 space-y-2 rounded-md hover:-translate-y-2 duration-300"
>
<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path></svg>
  <p class="text-xl w-full text-white">
    Alert system so you can be alerted when stocks go up or down, you decide the threshold.
  </p>
</article>
      </div>
  </div>
  <div class=" h-fit rounded-lg w-full flex">
      <div class="mt-10 h-fit rounded-lg mr-4">
      <div class="">
          <div class="">
  <label for="HeadlineAct" class="block text-sm font-medium text-gray-900"></label>

  <select
    name="HeadlineAct"
    id="HeadlineAct"
    class="mt-3 w-full py-6 rounded-lg border-gray-300 text-gray-700 text-center text-2xl font-bold border-2"
    @change="handleSelectChange"
  >
    <option value="AAPL">Apple</option>
    <option value="BILI">Bilibili</option>
    <option value="MSFT">Microsoft</option>
  </select>
</div>

  <div class="stats shadow stats-vertical">
  <div class="stat">

    <div class="stat-title">Price</div>
    <div class="stat-value"><p :class="stockInfo.upsAndDowns === 1 ? 'text-lime-600' : 'text-rose-600'">[[stockInfo.price]]</p></div>

  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
    </div>
    <div class="stat-title">chg.</div>
    <div class="stat-value"><p :class="stockInfo.upsAndDowns === 1 ? 'text-lime-600' : 'text-rose-600'">[[stockInfo.absolute_change]]</p></div>

  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
    </div>
    <div class="stat-title">chg.%</div>
    <div class="stat-value"><p :class="stockInfo.upsAndDowns === 1 ? 'text-lime-600' : 'text-rose-600'">[[stockInfo.relative_change]]%</p></div>
  </div>

      <div class="stat">
    <div class="stat-figure text-secondary">
    </div>
    <div class="stat-title">marketCap</div>
    <div class="stat-value">[[stockInfo.marketCap]]</div>
  </div>
</div>
      </div>

  </div>

      <div id="chart" class="mt-10 h-fit"  style="height: 510px;width: 100%"></div>
  </div>
</div>
<!-- kLine End -->
<!-- ML Start -->
<div class="mt-16">
        <h1 class="text-4xl text-center"><b>Stock Prediction</b></h1>
</div>
<div class="mt-8 grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8 h-fit">
    <div class="flex">
        <div class="h-32 rounded-lg h-fit px-6 w-1/2 ml-12">
      <article class="flex items-end justify-between rounded-lg border border-gray-100 bg-white p-6">
  <div>
    <p class="text-sm text-gray-500">Max</p>

    <p class="text-2xl font-medium text-gray-900">$[[predictionData.maxPredictedPrice]]</p>
  </div>

  <div :class="((predictionData.maxPredictedPrice - stockInfo.price) / stockInfo.price) > 0 ? 'inline-flex gap-2 rounded bg-green-100 p-1 text-green-600' : 'inline-flex gap-2 rounded bg-red-100 p-1 text-red-600'">
<!--  up graphic  -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      v-if="((predictionData.maxPredictedPrice - stockInfo.price) / stockInfo.price) > 0"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      v-if="((predictionData.maxPredictedPrice - stockInfo.price) / stockInfo.price) <= 0"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
      />
    </svg>

    <span class="text-xs font-medium"> [[((predictionData.maxPredictedPrice-stockInfo.price)/stockInfo.price).toFixed(2)]]%</span>
  </div>
</article>
      <article class="mt-2 flex items-end justify-between rounded-lg border border-gray-100 bg-white p-6">
  <div>
    <p class="text-sm text-gray-500">AVG</p>

    <p class="text-2xl font-medium text-gray-900">$[[predictionData.avgPredictedPrice]]</p>
  </div>

  <div :class="((predictionData.avgPredictedPrice - stockInfo.price) / stockInfo.price) > 0 ? 'inline-flex gap-2 rounded bg-green-100 p-1 text-green-600' : 'inline-flex gap-2 rounded bg-red-100 p-1 text-red-600'">
<!--  up graphic  -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      v-if="((predictionData.avgPredictedPrice - stockInfo.price) / stockInfo.price) <= 0"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
      />
    </svg>
          <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      v-if="((predictionData.avgPredictedPrice - stockInfo.price) / stockInfo.price) > 0"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
      />
    </svg>

    <span class="text-xs font-medium"> [[((predictionData.avgPredictedPrice-stockInfo.price)/stockInfo.price).toFixed(2)]]% </span>
  </div>
</article>
      <article class="mt-2 flex items-end justify-between rounded-lg border border-gray-100 bg-white p-6">
  <div>
    <p class="text-sm text-gray-500">Min</p>

    <p class="text-2xl font-medium text-gray-900">$[[predictionData.minPredictedPrice]]</p>
  </div>

  <div :class="((predictionData.minPredictedPrice - stockInfo.price) / stockInfo.price) > 0 ? 'inline-flex gap-2 rounded bg-green-100 p-1 text-green-600' : 'inline-flex gap-2 rounded bg-red-100 p-1 text-red-600'">
<!--  up graphic  -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      v-if="((predictionData.minPredictedPrice - stockInfo.price) / stockInfo.price) <= 0"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
      />
    </svg>
          <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      v-if="((predictionData.minPredictedPrice - stockInfo.price) / stockInfo.price) > 0"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
      />
    </svg>

    <span class="text-xs font-medium"> [[((predictionData.minPredictedPrice-stockInfo.price)/stockInfo.price).toFixed(2)]]% </span>
  </div>
</article>
  </div>
        <div class="">
            <button
      class="mx-auto mt-8 w-32 h-32 rounded-full text-black flex items-center justify-center text-lg font-bold bg-green-500"
      :class="{
        'bg-green-500': predictionData.target === 'Buy',
        'bg-blue-500': predictionData.target === 'Hold',
        'bg-red-500': predictionData.target === 'Sell'
      }"
    >
              <span class="text-white">   [[ predictionData.target ]] </span>
            </button>
            <div id="has_predict" class=" ml-8 mt-12" >
  <div class="flex items-center mb-2">
    <span class="text-green-500 font-semibold w-12">Buy</span>
    <div class="bg-gray-200 rounded-full w-48 h-4 overflow-hidden mx-2">
        <div class="bg-green-500 h-full" :style="{ width: `calc(${predictionData.buyPercentage * 100}%)` }"></div>
    </div>
    <span class="text-gray-700 font-semibold">[[predictionData.buyPercentage*100]]%</span>
</div>

<div class="flex items-center mb-2">
    <span class="text-blue-500 font-semibold w-12">Hold</span>
    <div class="bg-gray-200 rounded-full w-48 h-4 overflow-hidden mx-2">
        <div class="bg-blue-500 h-full" :style="{ width: `calc(${predictionData.holdPercentage * 100}%)` }"></div>
    </div>
    <span class="text-gray-700 font-semibold">[[predictionData.holdPercentage*100]]%</span>
</div>

<div class="flex items-center">
    <span class="text-red-500 font-semibold w-12">Sell</span>
    <div class="bg-gray-200 rounded-full w-48 h-4 overflow-hidden mx-2">
        <div class="bg-red-500 h-full" :style="{ width: `calc(${predictionData.sellPercentage * 100}%)` }"></div>
    </div>
    <span class="text-gray-700 font-semibold">[[predictionData.sellPercentage*100]]%</span>
</div>

</div>

        </div>
    </div>

  <div class="h-fit rounded-lg px-6 mt-6">
          <article class="rounded-xl border border-gray-700 bg-gray-800 p-4">
  <ul class=" space-y-2">
    <li>
      <a href="#" class="block h-full rounded-lg border border-gray-700 p-4 hover:border-pink-600">
        <strong class="font-medium text-white">Machine Learing</strong>

        <p class="mt-1 text-xs font-medium text-gray-300">
          We use advanced machine learning models as well as historical data to make future predictions
        </p>
      </a>
    </li>

    <li>
      <a href="#" class="block h-full rounded-lg border border-gray-700 p-4 hover:border-pink-600">
        <strong class="font-medium text-white">Custom future days</strong>

        <p class="mt-1 text-xs font-medium text-gray-300">
          You can customise the number of days to help you know the maximum and minimum as well as the average for the next number of days
        </p>
      </a>
    </li>

    <li>
      <a href="#" class="block h-full rounded-lg border border-gray-700 p-4 hover:border-pink-600">
        <strong class="font-medium text-white">Select and Go prediction!</strong>

        <p class="mt-1 text-xs font-medium text-gray-300">
          No need you to set up models, no need to prepare data, just press a button and the system will help you predict in the background!
        </p>
      </a>
    </li>
  </ul>
</article>
  </div>
</div>
<!-- ML End -->
<!-- Comment Start -->
<section class="mt-16 bg-gray-50">
  <div class="py-12 sm:px-6 lg:me-0 lg:py-16 lg:pe-0 lg:ps-8 xl:py-24">
    <div class="mx-auto max-w-6xl items-end justify-between sm:flex sm:pe-6 lg:pe-8">
      <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
        Read trusted reviews from our customers
      </h2>

      <div class="mt-8 flex gap-4 lg:mt-0">
        <button
          aria-label="Previous slide"
          id="keen-slider-previous"
          class="rounded-full border border-rose-600 p-3 text-rose-600 transition hover:bg-rose-600 hover:text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 rtl:rotate-180"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
          </svg>
        </button>

        <button
          aria-label="Next slide"
          id="keen-slider-next"
          class="rounded-full border border-rose-600 p-3 text-rose-600 transition hover:bg-rose-600 hover:text-white"
        >
          <svg
            class="size-5 rtl:rotate-180"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 5l7 7-7 7"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="-mx-6 mt-8 lg:col-span-2 lg:mx-0">
      <div id="keen-slider"  class="keen-slider">
        <div class="keen-slider__slide" v-for="(item,index) in reviews" :key="item.reviewId">
          <blockquote
            class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8 lg:p-12"
          >
            <div>
              <div class="flex gap-0.5 text-green-500">



                <svg
                              v-for="index in parseInt(item.rating, 10)"
                    :key="index"
                  class="h-5 w-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
                </svg>
              </div>

              <div class="mt-4">
                <p class="text-2xl font-bold text-rose-600 sm:text-3xl">[[item.reviewText.substring(0, 20)]]...</p>

                <p class="mt-4 leading-relaxed text-gray-700">
                  [[item.reviewText]]
                </p>
              </div>
            </div>

            <footer class="mt-4 text-sm font-medium text-gray-700 sm:mt-6">
              &mdash; [[item.userName]]
            </footer>
          </blockquote>
        </div>


      </div>
    </div>
  </div>
</section>
<!-- Comment End -->
<!-- Sign up start -->
<section class="bg-gray-50">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24" id="start">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Register now to enjoy our services!
      </h2>

      <p class="hidden text-gray-500 sm:mt-4 sm:block">
        Fill in your email to enter!
      </p>
    </div>

    <div class="mx-auto mt-8 max-w-xl">
      <form class="sm:flex sm:gap-4" @submit.prevent="signupProcess">
        <div class="sm:flex-1">
          <label for="email" class="sr-only">Email</label>

          <input
            type="email"
            placeholder="Email address"
            class="w-full rounded-md border-gray-200 bg-white p-3 text-gray-700 shadow-sm transition focus:border-white focus:outline-none focus:ring focus:ring-yellow-400"
            v-model="email"
          />
        </div>

        <button
                 type="submit"
          class="group mt-4 flex w-full items-center justify-center gap-2 rounded-md bg-rose-600 px-5 py-3 text-white transition focus:outline-none focus:ring focus:ring-yellow-400 sm:mt-0 sm:w-auto"
            @click="signupProcess"
        >
          <span class="text-sm font-medium"> Sign Up </span>

          <svg
            class="size-5 rtl:rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
      <!-- To The Top Button -->
  <button id="toTopButton" class="fixed bottom-4 right-4 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-700 focus:outline-none hidden">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
    </svg>
  </button>
<!-- Sign up End -->
<!--{# foot area start #}-->
<footer class="bg-gray-100 ">
  <div class="mx-auto  px-4 py-16 sm:px-6 lg:px-8" >
    <div class="flex justify-center text-teal-600">
      <img class="h-24" src="../../static/resource/LOGOS/BlackLogo.png">
    </div>


  </div>
</footer>
</div>

    <script>
            new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            stat:{},
          symbolList:["AAPL","BILI","MSFT"],
            symbolData:[],
          predictionData:JSON.parse('{{predictionData|tojson}}'),
          stockInfo:{},
            reviews :JSON.parse('{{review|tojson}}'),
            email:'',
            commonSymbol:JSON.parse('{{commonSymbol|tojson}}')
        },
        mounted(){
            this.updateStockData();
            this.getSystemStats();
            this.renderGraph();
        },
        methods: {
                                                              renderGraph() {
                    this.commonSymbol.forEach((stock, index) => {

                        const data = stock.data;
                        const labels = data.map(item => new Date(item.timestamp).toLocaleDateString());
                        const closePrices = data.map(item => item.close);
                        // 计算平均价格
                        const averagePrice = closePrices.reduce((a, b) => a + b, 0) / closePrices.length;
                        const averagePrices = new Array(closePrices.length).fill(averagePrice);

                        this.$nextTick(() => {
                            // 获取 Canvas 上下文
                            const canvasId = 'recommandChart' + index;
                            const ctx = document.getElementById(canvasId).getContext('2d');

                            // 创建渐变
                            const gradient = ctx.createLinearGradient(0, 0, 0, 300);
                            if (stock.upsAndDowns === 0) {
                                gradient.addColorStop(0, 'rgba(255, 99, 132, 0.6)'); // 红色渐变
                                gradient.addColorStop(1, 'rgba(255, 255, 255, 0)');
                            } else {
                                gradient.addColorStop(0, 'rgba(75, 192, 192, 0.6)'); // 绿色渐变
                                gradient.addColorStop(1, 'rgba(255, 255, 255, 0)');
                            }

                            // 绘制图表
                            new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: labels,
                                    datasets: [
                                        {
                                            label: '', // 隐藏标签
                                            data: closePrices,
                                            borderColor: stock.upsAndDowns === 0 ? 'rgba(255, 99, 132, 1)' : 'rgba(75, 192, 192, 1)',
                                            borderWidth: 2,
                                            fill: true,
                                            backgroundColor: gradient // 设置渐变填充
                                        },
                                        {
                                            label: '', // 隐藏标签
                                            data: averagePrices,
                                            borderColor: 'rgba(128, 128, 128, 1)', // 灰色平均线
                                            borderWidth: 2,
                                            fill: false,
                                            borderDash: [10, 5] // 设置虚线样式
                                        }
                                    ]
                                },
                                options: {
                                    responsive: false,
                                    scales: {
                                        x: {
                                            display: false
                                        },
                                        y: {
                                            display: false
                                        }
                                    },
                                    plugins: {
                                        legend: {
                                            display: false // 隐藏图例
                                        }
                                    },
                                    elements: {
                                        point: {
                                            radius: 0
                                        }
                                    },
                                    layout: {
                                        padding: {
                                            left: 0,
                                            right: 0,
                                            top: 0,
                                            bottom: 0
                                        }
                                    }
                                }
                            });

                            // console.log('Chart initialized for:', stock.symbol);
                        });
                    });
                },
                async updateStockData() {
      for (let symbol of this.symbolList) {
        await this.fetchStockData(symbol);
      }
      const stockInfo = await axios.get(`/stock_info_full/AAPL`);
      this.stockInfo = stockInfo.data;
       this.renderStockData("AAPL");
    },
    async fetchStockData(symbol) {
      try {
        const response = await axios.get(`/update_stock_data/${symbol}/3mo`);
        this.symbolData.push(response.data);
      } catch (error) {
        console.error(`Failed to fetch data for ${symbol}:`, error);
      }
    },
            getSystemStats(){
                axios.get('/getSystemStats')
                    .then(response => {
                        this.stat = response.data;
                    })
            },
            signupProcess(){
                sessionStorage.setItem('email', this.email);
                console.log(sessionStorage.getItem('email'))
                window.location.href = '/pricing';
            },
                    handleSelectChange(event) {
          const selectedSymbol = event.target.value;
          this.refreshData(selectedSymbol);
        },
            refreshData(symbol){

                axios.get(`/get_predictionData_by_symbol/${symbol}`)
                    .then(response => {
                   this.predictionData = response.data
                        console.log(this.predictionData)
                    });
                                            axios.get(`/stock_info_full/${symbol}`)
                    .then(response => {
                        this.stockInfo = response.data
                    });
                                            this.renderStockData(symbol);



            },
            renderStockData(symbol) {
            if (!this.chart) {
                    this.chart = klinecharts.init('chart');
                    this.chart.createIndicator('MA', false, { id: 'candle_pane' });
                }
            if(symbol === 'AAPL'){this.chart.applyNewData(this.symbolData[0]);}
            else if (symbol === 'BILI'){this.chart.applyNewData(this.symbolData[1]);}
            else if (symbol === 'MSFT'){this.chart.applyNewData(this.symbolData[2]);}

            },
        }});
    </script>
    <script type="module">
  import KeenSlider from 'https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/+esm'

  const keenSlider = new KeenSlider(
    '#keen-slider',
    {
      loop: true,
      slides: {
        origin: 'center',
        perView: 1.25,
        spacing: 16,
      },
      breakpoints: {
        '(min-width: 1024px)': {
          slides: {
            origin: 'auto',
            perView: 2.5,
            spacing: 32,
          },
        },
      },
    },
    []
  )

  const keenSliderPrevious = document.getElementById('keen-slider-previous')
  const keenSliderNext = document.getElementById('keen-slider-next')

  keenSliderPrevious.addEventListener('click', () => keenSlider.prev())
  keenSliderNext.addEventListener('click', () => keenSlider.next())

          document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function(e) {
                e.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
                targetElement.scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });

              // Scroll to the top when the button is clicked
        document.getElementById('toTopButton').addEventListener('click', () => {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });

        // Show or hide the button based on scroll position
        window.addEventListener('scroll', () => {
            if (window.scrollY > 200) {
                document.getElementById('toTopButton').classList.remove('hidden');
            } else {
                document.getElementById('toTopButton').classList.add('hidden');
            }
        });
</script>
    <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
    <script>
      var animation = { duration: 30000, easing: (t) => t }

      var slider = new KeenSlider("#my-keen-slider", {
        loop: true,
        renderMode: "performance",
        drag: true,
                        slides: {
                perView: 'auto', // 一次显示3个滑块
                spacing: 16 // 滑块之间的间距
              },
        created(s) {
          s.moveToIdx(10, true, animation)
        },
        updated(s) {
          s.moveToIdx(s.track.details.abs + 10, true, animation)
        },
        animationEnded(s) {
          s.moveToIdx(s.track.details.abs + 10, true, animation)
        },
      })


    </script>
</body>
</html>