<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Account Info</title>
</head>
<body>
  <!-- Navigation Bar -->
  <header>
    <div class="navbar bg-neutral text-neutral-content">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href="/">Stock Forecast4.me</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-lg">
      <li><a href="/accountInfo">Dashboard</a></li>
      <li><a href="/predict">Start Prediction</a></li>
      <li><a href="/predictionResult">History</a></li>
    </ul>
  </div>
  <div class="navbar-end">
      <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS Navbar component" src="../../static/resource/LOGOS/WhiteLogo.png">
        </div>
      </div>
      <ul tabindex="0" class="mt-3 z-[1] p-2 menu menu-sm dropdown-content bg-neutral  rounded-box w-52 z-40">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
  </header>

  <div id="app" class="container mx-auto px-4 mt-4">
    <h2 class="text-2xl font-bold mb-4">Personal Info</h2>
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
      <div class="flex flex-col items-start mb-4">
        <div class="flex-shrink-0">
          <img class="h-24 w-24 rounded-full object-cover mb-4" src="../../static/resource/Icons/PersonIcon.JPG" alt="Avatar">
        </div>
        <div class="w-full">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label class="block text-gray-700 font-bold">Username:</label>
              <input type="text" v-model="user.userName" class="input input-bordered w-full" disabled>
            </div>
            <div>
              <label class="block text-gray-700 font-bold">User Type:</label>
              <input type="text" v-model="user.profile" class="input input-bordered w-full" disabled>
            </div>
            <div>
              <label class="block text-gray-700 font-bold">Email:</label>
              <input type="email" v-model="user.email" class="input input-bordered w-full" disabled>
            </div>
            <div>
              <label class="block text-gray-700 font-bold">Password:</label>
              <div class="relative">
                <input type="password" v-model="user.hashedPassword" class="input input-bordered w-full" disabled>
                <button class="absolute inset-y-0 right-0 px-3 flex items-center" @click="togglePasswordModal">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m4 4H9m-2 0a2 2 0 100-4 2 2 0 000 4zM15 12H9m4 4H9m-2 0a2 2 0 100-4 2 2 0 000 4zM9 12H7m2 0a2 2 0 100-4 2 2 0 000 4z"/>
                  </svg>
                </button>
              </div>
            </div>
<!--            <div>-->
<!--              <label class="block text-gray-700 font-bold">Company:</label>-->
<!--              <input type="text" v-model="user.company" class="input input-bordered w-full" disabled>-->
<!--            </div>-->
          </div>
        </div>
      </div>
      <h3 class="text-xl font-bold mb-2">BIO</h3>
      <textarea v-model="user.bio" class="textarea textarea-bordered w-full" rows="4"></textarea>
      <div class="flex justify-end mt-4">
        <button class="btn btn-secondary mr-2" @click="toggleEdit">{{ isEditing ? 'Cancel' : 'Edit' }}</button>
        <button class="btn btn-primary" @click="updateInfo">{{ isEditing ? 'Apply' : 'Update Bio' }}</button>
      </div>

    </div>

    <div v-if="showPasswordModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-bold mb-4">Change Password</h3>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold">Old Password:</label>
          <input type="password" v-model="passwords.old" class="input input-bordered w-full">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold">New Password:</label>
          <input type="password" v-model="passwords.new" class="input input-bordered w-full">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold">Confirm New Password:</label>
          <input type="password" v-model="passwords.confirm" class="input input-bordered w-full">
        </div>
        <div class="flex justify-end">
          <button class="btn btn-secondary mr-2" @click="togglePasswordModal();clearPasswordInput()">Cancel</button>
          <button class="btn btn-primary" @click="changePassword">Finish</button>
        </div>
      </div>
    </div>
<!--  a  dialog to showcase error message
      document.getElementById('exception').showModal();
-->
  <dialog id="exception" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box bg-red-400">
    <h3 class="font-bold text-lg">Failed</h3>
    <p class="py-4">[[exception]]</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn bg-red-200">OK</button>
      </form>
    </div>
  </div>
</dialog>
                <dialog id="information" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box bg-sky-300">
    <h3 class="font-bold text-lg">Success</h3>
    <p class="py-4">[[information]]</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn bg-sky-100">OK</button>
      </form>
    </div>
  </div>
</dialog>
  </div>

<script>
  new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      user: JSON.parse('{{ user|tojson }}'),
      showPasswordModal: false,
      passwords: {
        old: '',
        new: '',
        confirm: ''
      },
      exception:null,
      information:null
    },
    methods: {
      togglePasswordModal() {
        this.showPasswordModal = !this.showPasswordModal;
      },
      // post updatePersonalInfo with {user.accountType .accountId .bio .userName}
      updateInfo() {
        axios.post('/updatePersonalInfo', { bio: this.user.bio ,accountType:this.user.accountType,accountId:this.user.accountId,email:this.user.email,userName:this.user.userName})
          .then(response => {
            if (response.data.success) {
              alert('updated successfully');
            } else {
              alert('Error updating bio: ' + response.data.error);
            }
          })
          .catch(error => {
            console.error('Error updating bio:', error);
          });
      },
      changePassword() {
        if (this.passwords.new !== this.passwords.confirm) {
          this.exception = "New passwords do not match";
          document.getElementById('exception').showModal();
          return;
        }

        axios.post('/changePassword', {
          oldPassword: this.passwords.old,
          newPassword: this.passwords.new
        })
          .then(response => {
            if (response.data.success) {
              this.information = 'Password changed successfully';
              document.getElementById('information').showModal();
              this.togglePasswordModal();
              this.clearPasswordInput();
            } else {
              this.exception = 'Error changing password: '+ response.data.error
              document.getElementById('exception').showModal();
              this.clearPasswordInput();
            }
          })
          .catch(error => {
            console.error('Error changing password:', error);
          });
      },
      clearPasswordInput(){
        this.passwords.new = '';
        this.passwords.old = '';
        this.passwords.confirm = '';
      }
    }
  });
</script>

</body>
</html>
