<!-- before CP -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="app" class="flex h-screen">
        <!-- Left Sidebar -->
        <div class="w-16 flex flex-col justify-between border-e bg-white h-screen fixed">
            <div>
                <div class="inline-flex size-16 items-center justify-center">

                    <span class="grid size-10 place-content-center rounded-lg bg-gray-100 text-xs text-gray-600">[[user.userName.slice(0,2)]]</span>

                </div>
                <div class="border-t border-gray-100">
                    <div class="px-2">
                        <div class="py-4">
                            <a href="/preference" class="t group relative flex justify-center rounded bg-blue-50 px-2 py-1.5 text-blue-700">
                                <svg xmlns="http://www.w3.org/2000/svg" class="size-5 opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg>
                                <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">General</span>
                            </a>
                        </div>
                        <ul class="space-y-1 border-t border-gray-100 pt-4">
                            <li>
                                <a :href="`/space/${user.accountId}`" class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg>
                                    <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">My Account</span>
                                </a>
                            </li>
                            <li>
                                <a href="/friend" class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                    <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">Friend</span>
                                </a>
                            </li>
                            <li>
                                <a href="/history" class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                    <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">History Search</span>
                                </a>
                            </li>
                              <li>
                              <a href="/ratingComment" class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 hover:bg-gray-50 hover:text-gray-700">
                                <svg class="h-6 w-6 text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"/>
                                </svg>
                                <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">Comment</span>
                              </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sticky inset-x-0 bottom-0 border-t border-gray-100 bg-white p-2">
                <form action="/logout">
                    <button type="submit" class="group relative flex w-full justify-center rounded-lg px-2 py-1.5 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-5 opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                        </svg>
                        <span class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">Logout</span>
                    </button>
                </form>
            </div>
        </div>
        <!-- Right Content Area -->
        <div class="flex-1 bg-gray-100 ml-16">
            <div class="navbar bg-base-100/95 fixed top-0 w-[calc(100%-4rem)]">
                <div class="">
                    <a class="btn btn-ghost text-xl">Stock4Me</a>
                </div>
                <input type="text" placeholder="Search symbol or accounts..." class="input input-sm input-bordered w-80 ml-4" v-model="search">
                <button class="btn btn-outline btn-sm btn-success ml-2" @click="doSearch">Search</button>
            </div>
            <!-- Content Start! -->
            <div class="overflow-y-scroll p-8 bg-white mt-16">
                <h2 class="text-4xl font-bold mb-6 mt-4">[[greeting]], [[user.userName]]</h2>
                <h2 class="text-lg font-bold mb-4">Notifications</h2>
                <div class="overflow-y-scroll p-8 bg-white mt-4 h-40">
                    <div v-if="hasNoNotification === 1">

                        <div role="alert" class="alert alert-success">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 shrink-0 stroke-current"
    fill="none"
    viewBox="0 0 24 24">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>You don't have any alerts at the moment, enjoy browsing our webpage!</span>
</div>
                    </div>
                    <div v-for="notification in notifications" :key="notification.notificationId" class="mb-4" @click="navigateToSymbol(notification.symbol)">
                        <div class="bg-green-100 p-2 rounded-md flex items-center justify-between">
                            <div>
                                <p class="text-green-700 font-bold">[[notification.notificationType]] </p>
                                <p>[[ notification.notification]]</p>
                            </div>
                            <button @click.stop="removeNotification(notification.notificationId, notification.notificationType, notification.referenceId)" class="text-red-500">&times;</button>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-16">

                    <div>

                        <h2 class="text-lg font-bold mb-4">News</h2>
<!--                       news start -->
                            <article class="flex bg-white transition hover:shadow-xl mb-8 rounded-lg shadow-md" v-for="news in recommendationNews" :key="news.id">
                              <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
                                <time
                                  :datetime="news.published_at.split(', ')[1]"
                                  class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900"
                                >
                                    [[news.published_at.split(', ')[0] ]]
                                    <span class="w-px flex-1 bg-gray-900/10"></span>
                                  [[news.published_at.split(', ')[1] ]]
                                </time>
                              </div>

                              <div class="hidden sm:block sm:basis-56">
                                <img
                                    :src="news.image_url || '../../static/resource/altNewsIMG.jpg'"
                                    @error="onImageError"
                                    alt="News Image2"
                                  class="aspect-square h-full w-full object-cover"
                                />
                              </div>

                              <div class="flex flex-1 flex-col justify-between">
                                <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
                                  <a href="#">
                                    <h3 class="font-bold uppercase text-gray-900">
                                      [[news.title]]
                                    </h3>
                                  </a>

                                  <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700">
                                   [[news.description]]
                                  </p>
                                </div>

                                <div class="sm:flex sm:items-end sm:justify-end">
                                  <a
                                    :href="news.url"
                                    target="_blank"
                                    class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-yellow-400"
                                  >
                                    Read Blog
                                  </a>
                                </div>
                              </div>
                            </article>
<!--                        news end-->
                        <button @click="loadMoreNews" class="btn btn-sm btn-primary mt-4" v-if="isLoadingNews === 0">Load More</button>
                                                                    <div class="flex w-full flex-col gap-4" v-if="isLoadingNews === 1">
  <div class="skeleton h-32 w-full" v-if="isLoadingNews === 1"></div>
  <div class="skeleton h-4 w-28" v-if="isLoadingNews === 1"></div>
  <div class="skeleton h-4 w-full" v-if="isLoadingNews === 1"></div>
  <div class="skeleton h-4 w-full" v-if="isLoadingNews === 1"></div>
</div>
                    </div>
                    <div>
                        <h2 class="text-lg font-bold mb-4">Stock</h2>
                        <div class="flex w-full flex-col gap-4" v-if="isLoadingSymbol === 1">
                        <div class="skeleton h-32 w-full" v-if="isLoadingSymbol === 1"></div>
                        <div class="skeleton h-4 w-28" v-if="isLoadingSymbol === 1"></div>
                        <div class="skeleton h-4 w-full" v-if="isLoadingSymbol === 1"></div>
                        <div class="skeleton h-4 w-full" v-if="isLoadingSymbol === 1"></div>
                    </div>
                            <div v-for="(stock, index) in recommendationSymbols" :key="index" class = "mb-4 bg-white p-4 rounded-lg flex-grow shadow-md hover:shadow-xl transition-shadow duration-300" @click="navigateToSymbol(stock.symbol)">
                                <div>
                                    <div class="join">
                                        <a :href="'/symbol/' + stock.symbol" target="_blank" class="text-blue-500 hover:underline">[[stock.longName]]</a>
<!--                                        <h1 class="text-xl font-bold mb-1">[[stock.longName]]</h1>-->
                                    </div>
                                        <p class="text-lg text-gray-700 mb-1">Price: [[stock.price]]</p>
                                        <p :class="{'text-green-500': stock.relative_change >= 0, 'text-red-500': stock.relative_change < 0}" class="text-md font-semibold">Change: [[stock.relative_change + "%"]] ([[stock.absolute_change]])</p>
                                </div>
                                <canvas :id="'myChart' + index" height="80px" class="rounded-xl"></canvas>
                            </div>
                    </div>
                </div>
            </div>
                        <dialog id="information" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Success</h3>
    <p class="py-4">[[information]]</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">OK</button>
      </form>
    </div>
  </div>
</dialog>
            <!-- Content END! -->
            <!-- To The Top Button -->
            <button id="toTopButton" class="fixed bottom-4 right-4 bg-blue-500 text-white p-3 rounded-full shadow-lg hover:bg-blue-700 focus:outline-none hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
                </svg>
            </button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Scroll to the top when the button is clicked
            document.getElementById('toTopButton').addEventListener('click', () => {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            });

            // Show or hide the button based on scroll position
            window.addEventListener('scroll', () => {
                if (window.scrollY > 200) {
                    document.getElementById('toTopButton').classList.remove('hidden');
                } else {
                    document.getElementById('toTopButton').classList.add('hidden');
                }
            });
        });
        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                notifications: [],
                recommendationNews: [],
                recommendationSymbols: [],
                newsPage: 0,
                watchList:JSON.parse('{{watchList|tojson}}'),
                user:JSON.parse('{{user|tojson}}'),
                search:"",
                information:"",
                isLoadingNews:1,
                isLoadingSymbol:1,
                hasNoNotification:0,
                greeting: '',
            },
            computed: {
            },
            mounted() {
                this.updateGreeting();
                this.getNotifications();
                this.getRecommendationSymbols();
                this.getRecommendationNews();

            },
            methods: {
                                updateGreeting() {
                    const currentHour = new Date().getHours();
                    if (currentHour < 12) {
                        this.greeting = 'Good Morning ☀️';
                    } else if (currentHour < 18) {
                        this.greeting = 'Good Afternoon 🌞';
                    } else {
                        this.greeting = 'Good Evening 🌙';
                    }
                },
                doSearch(){
                    window.location.href = `/search/${this.search}`;
                },
                navigateToSymbol(symbol) {
                    window.open(`/symbol/${symbol}`, '_blank');
                },
                getNotifications() {
                    axios.get('/get_notification')
                        .then(response => {
                            this.notifications = response.data;
                            if (this.notifications.length === 0){
                        this.hasNoNotification = 1;
                }
                        });
                },
                getRecommendationSymbols() {
                    axios.get('/recommendation_symbol')
                        .then(response => {
                            this.isLoadingSymbol = 0;
                            this.recommendationSymbols = response.data;
                            this.$nextTick(() => {
                                this.render_graph();
                            });
                        });
                },
                getRecommendationNews() {
                                this.isLoadingNews = 1;
                    this.newsPage += 1;
                    axios.get('/recommendation_news/' + this.newsPage)
                        .then(response => {
                            this.recommendationNews.push(...response.data);
                            this.isLoadingNews = 0;
                        });
                },
                loadMoreNews() {
                    this.getRecommendationNews();
                },
                removeNotification(notificationId, notificationType, referenceId) {
                    axios.post('/remove_notification', { notificationId: notificationId, notificationType: notificationType, referenceId: referenceId })
                        .then(response => {
                            if (response.data.success) {
                                this.notifications = this.notifications.filter(notification => notification.notificationId !== notificationId);
                                    if (this.notifications.length === 0){
                                    this.hasNoNotification = 1;
                                }
                            }
                        });
                },
                toggleWatchlist(symbol) {
                          if (this.watchList.includes(symbol)) {
                                                      this.information ='Successful remove this stock from watchList'
                                            document.getElementById('information').showModal();
                            this.watchList = this.watchList.filter(item => item !== symbol);
                          } else {
                                                  this.information ='Successful add this stock from watchList'
                                            document.getElementById('information').showModal();
                            this.watchList.push(symbol);
                          }
                          // 向后端发送请求更新 watchList
                          axios.post('/update_watchList', {
                            watchList: this.watchList
                          })
                          .then(response => {
                            if (response.data.success) {
                              console.log('Watchlist updated successfully');
                            } else {
                              console.error('Failed to update watchlist');
                            }
                          })
                          .catch(error => {
                            console.error('Error updating watchlist:', error);
                          });
                },
                onImageError(event) {
                    event.target.src = '../../static/resource/altNewsIMG.jpg';
                },
                render_graph() {
                    this.recommendationSymbols.forEach((stock, index) => {
                        const data = stock.data;
                        const labels = data.map(item => new Date(item.timestamp).toLocaleDateString());
                        const closePrices = data.map(item => item.close);

                        // 计算平均价格
                        const averagePrice = closePrices.reduce((a, b) => a + b, 0) / closePrices.length;
                        const averagePrices = new Array(closePrices.length).fill(averagePrice);

                        this.$nextTick(() => {
                            // 获取 Canvas 上下文
                            const canvasId = 'myChart' + index;
                            const ctx = document.getElementById(canvasId).getContext('2d');

                            // 创建渐变
                            const gradient = ctx.createLinearGradient(0, 0, 0, 300);
                            if (stock.upsAndDowns === 0) {
                                gradient.addColorStop(0, 'rgba(255, 99, 132, 0.6)'); // 红色渐变
                                gradient.addColorStop(1, 'rgba(255, 255, 255, 0)');
                            } else {
                                gradient.addColorStop(0, 'rgba(75, 192, 192, 0.6)'); // 绿色渐变
                                gradient.addColorStop(1, 'rgba(255, 255, 255, 0)');
                            }

                            // 绘制图表
                            new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: labels,
                                    datasets: [
                                        {
                                            label: '', // 隐藏标签
                                            data: closePrices,
                                            borderColor: stock.upsAndDowns === 0 ? 'rgba(255, 99, 132, 1)' : 'rgba(75, 192, 192, 1)',
                                            borderWidth: 2,
                                            fill: true,
                                            backgroundColor: gradient // 设置渐变填充
                                        },
                                        {
                                            label: '', // 隐藏标签
                                            data: averagePrices,
                                            borderColor: 'rgba(128, 128, 128, 1)', // 灰色平均线
                                            borderWidth: 2,
                                            fill: false,
                                            borderDash: [10, 5] // 设置虚线样式
                                        }
                                    ]
                                },
                                options: {
                                    scales: {
                                        x: {
                                            display: false
                                        },
                                        y: {
                                            display: false
                                        }
                                    },
                                    plugins: {
                                        legend: {
                                            display: false // 隐藏图例
                                        }
                                    },
                                    elements: {
                                        point: {
                                            radius: 0
                                        }
                                    },
                                    layout: {
                                        padding: {
                                            left: 0,
                                            right: 0,
                                            top: 0,
                                            bottom: 0
                                        }
                                    }
                                }
                            });

                            // console.log('Chart initialized for:', stock.symbol);
                        });
                    });
                }
            }
        });


    </script>
</body>
</html>
