<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Prediction Result</title>
  </head>
  <body>
   <div id="app">
    <!-- 导航栏 -->
  <header>
    <div class="navbar bg-neutral text-neutral-content">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href="/">Stock Forecast4.me</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-lg">
      <li><a href="">Dashboard</a></li>
      <li><a href="">Start Prediction</a></li>
      <li><a href="">History</a></li>
    </ul>
  </div>
  <div class="navbar-end">
      <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS Navbar component" src="../../static/resource/LOGOS/WhiteLogo.png">
        </div>
      </div>
      <ul tabindex="0" class="mt-3 z-[1] p-2 menu menu-sm dropdown-content bg-neutral  rounded-box w-52 z-40">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
  </header>

    <div class="container mx-auto px-4 mt-8">
      <div class="flex items-center">
        <span class="font-bold text-xl">Search a prediction history here</span>
      </div>
      <!-- 搜索栏 -->
      <div class="flex flex-wrap md:flex-nowrap gap-4 mt-4" id="searchBar">
        <input v-model="searchCriteria.tickerSymbol" @input="filterResults" type="text" placeholder="Ticker Symbol" class="input input-bordered w-full md:max-w-40">
        <input v-model="searchCriteria.timeFrame" @input="filterResults" type="text" placeholder="Time Range" class="input input-bordered w-full md:max-w-40">
        <input v-model="searchCriteria.model" @input="filterResults" type="text" placeholder="Model" class="input input-bordered w-full md:max-w-40">
        <input v-model="searchCriteria.layersNum" @input="filterResults" type="text" placeholder="Layer" class="input input-bordered w-full md:max-w-40">
        <input v-model="searchCriteria.neuronsPerLayer" @input="filterResults" type="text" placeholder="Neurons" class="input input-bordered w-full md:max-w-40">
      </div>
    </div>
    <!-- 表格 -->
    <div class="container mx-auto mt-4">
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>#</th>
              <th class="text-lg">Ticker Symbol</th>
              <th class="text-lg">Time Range</th>
              <th class="text-lg">Model</th>
              <th class="text-lg">Layer</th>
              <th class="text-lg">Neurons</th>
              <th class="text-lg">Prediction Date</th>
              <th class="text-lg">Operation</th>
            </tr>
          </thead>
            <tbody>
              <tr v-for="(result, index) in filteredResults" :key="result.requestId" class="bg-base-200">
                <th>[[ index + 1 ]]</th>
                <td>[[ result.tickerSymbol ]]</td>
                <td>[[ result.timeFrame ]]</td>
                <td>[[ result.model ]]</td>
                <td>[[ result.layersNum ]]</td>
                <td>[[ result.neuronsPerLayer ]]</td>
                <td>[[ result.CreateDateTime ]]</td>
                <td>
                  <div class="flex flex-nowrap space-x-2">
                    <template v-if="result.forecastResult === 'waiting'">
                      <span class="loading loading-bars loading-md"></span>
                    </template>
                    <template v-else>
                      <button class="btn btn-sm btn-outline btn-info" @click="showResult(result.forecastResult)">View</button>
                      <button class="btn btn-sm btn-outline btn-error" @click="deleteRecord(result.requestId)">Delete</button>
                    </template>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>
            <dialog id="showResultDialog" class="modal modal-bottom sm:modal-middle">
              <div class="modal-box">
                        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th class="text-lg">Date</th>
              <th class="text-lg">Prediction</th>
              <th class="text-lg">Advice</th>
            </tr>
          </thead>
            <tbody>
              <tr v-for="result in forecastResult">
                <td>[[ result.Date ]]</td>
                <td>[[ result.Predicted ]]</td>
                <td>[[ result.Recommendation ]]</td>
              </tr>
            </tbody>
        </table>

                <div class="modal-action">
                  <form method="dialog">
                    <button class="btn">OK</button>
                  </form>
                </div>
              </div>
            </dialog>
      </div>
    </div>
    </div>
    <script>
      Vue.prototype.$results = []
      new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          results: [],
          forecastResult: [],
          searchCriteria: {
            tickerSymbol: '',
            timeFrame: '',
            model: '',
            layersNum: '',
            neuronsPerLayer: ''
          },
          filteredResults: []
        },
        created() {
          this.fetchRecords();
          setInterval(this.fetchRecords, 5000);
        },
        methods: {
          fetchRecords() {
            axios.get('/updatePredictionResult')
              .then(response => {
                this.results = response.data;
                this.filteredResults = this.results;
              })
              .catch(error => {
                console.error('Error fetching records:', error);
              });
          },
          filterResults() {
            this.filteredResults = this.results.filter(result => {
              return (!this.searchCriteria.tickerSymbol || result.tickerSymbol.includes(this.searchCriteria.tickerSymbol)) &&
                     (!this.searchCriteria.timeFrame || result.timeFrame.toString().includes(this.searchCriteria.timeFrame)) &&
                     (!this.searchCriteria.model || result.model.includes(this.searchCriteria.model)) &&
                     (!this.searchCriteria.layersNum || result.layersNum.toString().includes(this.searchCriteria.layersNum)) &&
                     (!this.searchCriteria.neuronsPerLayer || result.neuronsPerLayer.toString().includes(this.searchCriteria.neuronsPerLayer));
            });
          },
          showResult(forecastResult) {
            this.forecastResult = forecastResult;
            document.getElementById('showResultDialog').showModal();
          },
          deleteRecord(requestId) {
            axios.delete(`/deletePrediction/${requestId}`)
              .then(response => {
                const index = this.results.findIndex(result => result.requestId === requestId);
                if (index !== -1) {
                  this.results.splice(index, 1);
                }
                this.filterResults();
              })
              .catch(error => {
                console.error('Error deleting record:', error);
              });
          }
        }
      });
    </script>
  </body>
</html>
