<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Prediction Result</title>
  </head>
  <body>
      <!-- 导航栏 -->
      <nav class="bg-white shadow-lg">
        <div class="container mx-auto px-4">
          <div class="flex items-center justify-between h-16">
            <!-- 项目Logo和名字 -->
            <div class="flex items-center">
              <img class="h-14 w-14 object-cover" src="static/resource/LOGOS/(Small)BlackLogoWhiteBack.jpg" alt="Logo">
              <span class="ml-2 text-xl font-bold">Stock Forecast</span>
            </div>
            <!-- 导航按钮 -->
            <div class="flex space-x-8">
              <a href="#" class="text-gray-700 hover:text-blue-500">Dashboard</a>
              <a href="#" class="text-gray-700 hover:text-blue-500">Start Prediction</a>
              <a href="#" class="text-blue-500 relative">
                History
                <span class="absolute left-0 right-0 -bottom-1 h-1 bg-blue-300"></span>
              </a>
            </div>
            <!-- 用户信息和登出按钮 -->
            <div class="flex items-center">
              <!-- 用户信息 -->
              <div class="flex items-center space-x-2">
                <img class="h-8 w-8 rounded-full" src="path-to-user-avatar.png" alt="User Avatar">
                <span class="text-gray-700">Free User</span>
              </div>
              <!-- 登出按钮 -->
              <div class="ml-12">
                <button class="text-gray-700 hover:text-blue-500">Log Out</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
<div class="container mx-auto px-4 mt-4">
  <div class="flex items-center">
    <span class="font-bold text-xl">Search a prediction history here</span>
  </div>
  <!-- 搜索栏 -->
  <div class="flex flex-wrap md:flex-nowrap gap-4 mt-4" id="searchBar">
    <input type="text" placeholder="Model" class="input input-bordered w-full md:max-w-40" />
    <input type="text" placeholder="Period" class="input input-bordered w-full md:max-w-40" />
    <input type="text" placeholder="Layers" class="input input-bordered w-full md:max-w-40" />
    <input type="text" placeholder="Neurons" class="input input-bordered w-full md:max-w-40" />
    <input type="text" placeholder="APIKey" class="input input-bordered w-full md:max-w-40" />
    <input type="text" placeholder="Date" class="input input-bordered w-full md:max-w-40" />
    <button class="btn btn-outline w-full md:w-auto">Search</button>
  </div>

      <!-- 表格 -->
      <div class="container mx-auto mt-4" id="table">
        <div class="overflow-x-auto">
          <table class="table">
            <!-- head -->
            <thead>
              <tr>
                <th></th>
                <th class="text-lg">Model Used</th>
                <th class="text-lg">Prediction Period</th>
                <th class="text-lg">Number of Layers</th>
                <th class="text-lg">Number of Neurons</th>
                <th class="text-lg">Hashed APIKey</th>
                <th class="text-lg">Prediction Date</th>
                <th class="text-lg">Operation</th>
              </tr>
            </thead>
            <tbody>
              <!-- row 1 -->
              <tr class="bg-base-200">
                <th>1</th>
                <td>GRU</td>
                <td>30 Days</td>
                <td>10</td>
                <td>32</td>
                <td>hashed_api_key_example</td>
                <td>2024-06-10</td>
                <td>
                  <div class="flex flex-nowrap space-x-2">
                  <button class="btn btn-sm btn-outline btn-info">View</button>
                  <button class="btn btn-sm btn-outline btn-error">Delete</button>
                  </div>
               </tr>
              <!-- row 2 -->
              <tr class="bg-base-200">
                <th>2</th>
                <td>LSTM</td>
                <td>60 Days</td>
                <td>2</td>
                <td>8</td>
                <td>hashed_api_key_example</td>
                <td>2024-06-11</td>
                <td>
                  <div class="flex flex-nowrap space-x-2">
                  <button class="btn btn-sm btn-outline btn-info">View</button>
                  <button class="btn btn-sm btn-outline btn-error">Delete</button>
                  </div>
                </td>
              </tr>
              <!-- row 3 -->
              <tr class="bg-base-200">
                <th>3</th>
                <td>SVM</td>
                <td>15 Days</td>
                <td>4</td>
                <td>16</td>
                <td>hashed_api_key_example</td>
                <td>2024-06-12</td>
                <td>
                  <div class="flex flex-nowrap space-x-2">
                  <button class="btn btn-sm btn-outline btn-info">View</button>
                  <button class="btn btn-sm btn-outline btn-error">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    <script>
<!--     如果添加一个最外部div的话会严重影响样式，所以我为搜索和表格各自添加了vue模块，Vue.prototype.$即可添加全局变量，方便不同模块之前传递 -->
      Vue.prototype.$v = 'This is a global variable';
      new Vue({
        el: '#searchBar',
        data: {
          $v : 10
        },
        methods: {

        }
      });
      new Vue({
        el: '#table',
        data: {
          $v : 10
        },
        methods: {

        }
      });
    </script>
  </body>
</html>