<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="keywords" content="Quick Start"/>
    <meta name="description" content="Quick Start"/>
    <title>Quick Start</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/klinecharts/dist/umd/klinecharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div id="app">
    <div>
        <button @click="updatePeriod('180d')">180 days</button>
        <button @click="updatePeriod('7d')">one week</button>
        <button @click="updatePeriod('1mo')">one month</button>
        <button @click="updatePeriod('1y')">one year</button>
        <button @click="updatePeriod('10y')">ten years</button>
        <button @click="updatePeriod('max')">Max</button>
    </div>
    <div id="chart" style="width:1200px;height:600px"></div>
    <ul>
        <li v-for="item in news" :key="item.url">
            <h2>[[ item.title ]]</h2>
            <p>[[ item.description ]]</p>
            <p>[[item.snippet]]</p>
            <img :src="item.image_url" :alt="item.title" style="max-width: 200px;">
            <p>Published at: [[ item.published_at ]]</p>
            <a :href="item.url" target="_blank">Read more</a>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            stockData: JSON.parse('{{ stockData|tojson|safe }}'),
            stockInfo: JSON.parse('{{ stockInfo|tojson|safe }}'),
            predictionresult: JSON.parse('{{ predictionresult|tojson|safe }}'),
            news: [],
            comments: [],
            newsPage: 0,
            period: '30d', // Default period or obtained in another way
            chart: null  // Save chart instance
        },
        mounted() {
            this.renderStockData(); // Call renderStockData method
            this.get_symbol_news(this.stockInfo.symbol);
            this.get_symbol_comments(this.stockInfo.symbol);
        },
        methods: {
            renderStockData() {
                if (!this.chart) {
                    this.chart = klinecharts.init('chart');
                    this.chart.createIndicator('MA', false, { id: 'candle_pane' });
                    this.chart.createIndicator('VOL');
                }
                this.chart.applyNewData(this.stockData);
            },
            updatePeriod(newPeriod) {
                this.period = newPeriod;
                const url = `/update_stock_data/${this.stockInfo.symbol}/${this.period}`;
                axios.get(url)
                    .then(response => {
                        this.stockData = response.data;
                        this.renderStockData();
                    })
                    .catch(error => {
                        console.error("There was an error fetching the stock data!", error);
                    });
            },
            get_symbol_news(symbol) {
                this.newsPage += 1;
                axios.get(`/symbol_news/${symbol}/${this.newsPage}`)
                    .then(response => {
                        if (Array.isArray(response.data)) {
                            this.news.unshift(...response.data);
                        } else {
                            console.error('Unexpected response data format:', response.data);
                        }
                    });
            },
            get_symbol_comments(symbol) {
                axios.get(`/symbol_comments/${symbol}`)
                    .then(response => {
                        this.comments = response.data.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));
                    });
            }
        }
    });
</script>
</body>
</html>
