body{
    background-color:rgb(83, 83, 83);
 }

 header {
    color: #fff;
    padding: 50px 0;
    position: absolute;
    width: 95%;
    top: 0;
    z-index: 999;
    caret-color: transparent;
 }

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 nav ul li {
    display: inline;
    margin-right: 50px;
 }

 nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
 }
 
 .web-description{
    position: relative;
    top:200px;
    width: 60%;
    height: 600px;
    margin-left: 20%;
    color: #fff;
 }

 .h-set{
    font-size: 40px;
     border-bottom: 2px solid white;
     height: 80px;
 }

 .p-set{
    font-size: 24px;
     position: relative;
            padding-left: 20px; /* Add padding to create space between border and text */
            margin: 20px 0;
 }

 .p-set::before{
     content: '';
     position: absolute;
     left: 0;
     top: 10px; /* Adjust this to set the starting point */
     bottom: 10px; /* Adjust this to set the ending point */
     width: 8px;
     background-color: white;
 }


.p-set-text{
    font-size: 18px;
}