body{
    background-color: #1e1e1e;
}

header {
    font-weight: bold;
    color: #fff; 
    padding: 20px 0; 
    position: fixed;
    width: 85%; 
    top: 20px; 
    left: 200px;
    z-index: 1;
    caret-color: transparent;
    background-color: rgba(128, 124, 124, 0.411);
    border-radius: 20px;
 }
 
 nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
 }
 
 nav ul li {
    display: inline; 
    margin-right: 50px; 
 }
 
 nav ul li a {
    color: #fff; 
    text-decoration: none; 
    font-size: 28px;
 }
 
.p1text{
    position: relative;
    bottom: 800px;
    z-index: 2;
    text-align: center;
    width: 80%;
    left: 200px;
    font-size: 25px;
    color: white;
}

.input {
    position: fixed;
    top: 400px;
    left: 70px;
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: gray;
    justify-content: center;
    border-radius: 20px;
    transition: 1s;
    padding: 10px;
    overflow: hidden;
  }
  
  .value {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 20px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
    box-sizing: border-box;
  }
  
  .value:not(:active):hover,
  .value:focus {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #1a1f24;
    color: #637185;
  }
  
  .value:focus,
  .value:active {
    background-color: #1a1f24;
    outline: none;
    margin-left: 17px;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -15px;
    width: 5px;
    height: 80%;
    background-color: #2f81f7;
    border-radius: 5px;
    opacity: 0;
    transition: 1s;
  }
  
  .value:focus::before,
  .value:active::before {
    opacity: 1;
  }
  
  .value svg {
    width: 20px;
  }
  
  .input:hover > :not(.value:hover) {
    transition: 300ms;
    filter: blur(1.5px);
    transform: scale(0.95, 0.95);
  }
  

.setPicCity{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.setPicCity2{
  background-color: red;
  position: relative;
  top: 200px;
  width: 45%;
  height: 60vh;
  left: 52%;
}

.setPicCity3{
  position: relative;
  top: 10px;
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.p2text{
   position: relative;
   left: 9%;
   color: white;
   bottom: 50px;
}

.vertical-line {
  position: absolute;
  border-left: 4px solid white;
  height: 10vh;
}

.position3{
    position: relative;
    width: 80%;
    height: 50vh;
    bottom: 450px;
    left: 200px;
}

.img-set{
    width: 100px;
}
.img-set2{
    position: relative;
    width: 100px;
    bottom: 60px;
}
.img-set3{
    position: relative;
    width: 100px;
    bottom: 120px;
}

.p3text{
    position: relative;
    left: 120px;
    bottom: 120px;
    color: white;
    font-size: 20px;
}
.p4text{
    position: relative;
    left: 120px;
    bottom: 170px;
    color: white;
    font-size: 20px;
}
.p5text{
    position: relative;
    left: 120px;
    bottom: 220px;
    color: white;
    font-size: 20px;
}

.area1{
    text-align: center;
    position: relative;
    bottom: 1000px;
}

.area2{
    position: relative;
    padding-left: 140px;
    bottom: 900px;
}
.img-set4{
    width: 500px;
}
.area3{
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 24.5%;
    height: 320px;
    left: 140px;
    bottom: 920px;
}
.area4{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 24.5%;
    height: 320px;
    left: 784px;
    bottom: 920px;
}
.area5{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 24.5%;
    height: 320px;
    left: 1430px;
    bottom: 920px;
}

.text-set1{
    text-align: center;
    color: white;
}

.text-set1-1{
    text-align: center;
    color: white;
    position: relative;
    top: 20px;
}

.text-set2{
    text-align: center;
    color: white;
}

.text-set2::after {
    content: "";
    display: block;
    width: 50%; /* 或者你想要的具体长度 */
    border-bottom: 2px solid white;
    margin: 0 auto; /* 居中对齐 */
    position: absolute;
    bottom: 215px; /* 根据需要调整位置 */
    left: 0;
    right: 0;
}

.text-set2-1{
    text-align: center;
    color: white;
    position: relative;
    top: 25px;
}
.text-set2-1::after {
    content: "";
    display: block;
    width: 50%; /* 或者你想要的具体长度 */
    border-bottom: 2px solid white;
    margin: 0 auto; /* 居中对齐 */
    bottom: 230px; /* 根据需要调整位置 */
    left: 0;
    right: 0;
}

.p6text{
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    top: 30px;
}

.p7text{
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
}

.p8text{
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
}