header {
   color: #fff;
   padding: 30px 0;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 999;
   caret-color: transparent;
    border-bottom: 2px solid black;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav ul li {
   display: inline;
   margin-right: 50px;
}

nav ul li a {
   color: #000000;
   text-decoration: none;
   font-size: 28px;
}

.form-set{
    position: relative;
    top: 50px;
    left: 37%;
    max-width: 600px;
}


.searchBar{
    position: relative;
    top: 150px;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 20px;
}
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
  top: 180px;
  left: 80px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

.web-description1{
  position: relative;
  top:200px;
  width: 27%;
  height: 600px;
  margin-left: 18%;
  color: #fff;
}
.img{
  position: relative;
  max-width: 400px;
  top: 180px;
  left: 40px;
}


.p-set{
  position: relative;
  font-size: larger;
  top: 200px;
    left: 13%;
}

.days{
  position: relative;
  left: 115%;
  bottom: 10px;
  font-size: 20px;
}

  .line {
    position: relative;
    width: 300px;
    height: 8px;
    background-color:#1e98d7;
    top:215px;
      left: 13%;
}

.handle {
    position: absolute;
    top: -6px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
    caret-color: transparent;
}

.number {
    position: absolute;
    top: -10px;
    left: 105%;
    font-size: 20px;
    color: #000000;
    caret-color: transparent;
}


.layer{
  position: relative;
  left: 82px;
  top: 240px;
  font-size: 20px;
}

.layerType{
  font-size: 20px;
}

.position1{
  position: relative;
  left: 125px;
  width: 50px;
}

.position2{
  width: 50px;
}

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
    position: relative;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}
