/* login box css style */

 .container {
            background-color: rgba(255, 255, 255, 0.9); /* 半透明背景 */
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            max-width: 450px;
            width: 100%;
            text-align: center;
        }
nav ul {
    list-style-type: none;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 200px;
    width: 80%;
    z-index: 1;
    caret-color: transparent;
    background-color: rgba(128, 124, 124, 0.411);
    border-radius: 20px;
    padding: 20px 0;
 }

 nav ul li {
    display: inline;
    margin-right: 50px;
 }

 nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
 }

.p1 {
            color: #000000;
            font-size: 40px;
            margin-bottom: 20px;
        }

.form-title {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
            margin-bottom: 1rem;
            color: #000000;
            text-align: center;
        }

.input-container {
            margin-bottom: 1rem;
            text-align: left;
            margin-right: 20px;
        }

.input-container label {
            display: block;
            margin-bottom: 0.5rem;
        }

.input-container input {
            width: 100%;
            padding: 0.75rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            border-radius: 0.5rem;
            border: 1px solid #e5e7eb;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }

.checkbox-container {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }

.checkbox-container input {
            margin-right: 0.5rem;
        }

.submit {
            display: block;
            width: 100%;
            padding: 0.75rem;
            background-color: #4F46E5;
            color: #ffffff;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;
            border-radius: 0.5rem;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
        }

.signup-link {
            color: #6B7280;
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin-top: 1rem;
        }
